@model  JsPlc.Ssc.PetrolPricing.Models.SiteViewModel

@{
    ViewBag.Title = "Site details";
}
<h1><i class="fa fa-gear"></i> Site details</h1>

@Html.Partial("_SiteDetails", Model)

@Html.Action("NearbySites", "Sites", new { id = Model.Id })

<div class="panel-footer">
    <a class="btn btn-default" href="@Url.Action("Index", "Sites")"><i class="fa fa-backward"> Back to List</i></a>

    @if (Model.IsSainsburysSite)
    {
        <a class="btn btn-primary pull-right" href="@Url.Action("Edit", "Sites", new {id = Model.Id})"><i class="fa fa-pencil"></i>&nbsp;Edit Site</a>
    }
</div>

<script>
    require(["infotips"],
        function (infotips) {
        });
</script>

