@model IEnumerable<JsPlc.Ssc.PetrolPricing.Models.Site>
@{
    ViewBag.Title = "Sainsbury's Sites";
}

<h2>Site Manager</h2>
<p style="color:blue; font-size: larger; font-weight: bold">@ViewBag.Message</p>

<div align="right">
    <input type="button" value="New Sainsbury's Site" onclick="location.href='@Url.Action("Create", "Sites" )'" class="btn btn-primary" />
</div>
<!-- Approx 300 Sainsbury's sites -->
<div>
    <form method="GET">
        Search: <input type="text" value="" name="searchTerm" /><input type="submit" value="Go"/>
        <input type="submit" value="Show All" />
    </form>
    <br /><hr />
    List of Sites:
    @Html.Partial("_SiteList", Model)
</div>
