@using JsPlc.Ssc.PetrolPricing.Models
@{
    ViewBag.Title = "Site Prices";
}
<!-- Modal -->
<form id="myform" method="post" action="emailSite">
    <div class="modal fade" id="emailSite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send Email</h4>
                </div>
                <div class="modal-body">
                    <h1>FAO Store/duty manager - URGENT FUEL PRICE CHANGE</h1>
                    <p>Queries to the Trading Hotline using Option 1 Trading, Option 2 Grocery and Option 8 Petrol and Kiosk </p>
                    <h2>kSiteName</h2>
                    <p><strong>Petrol price changes, effective end of trade kStartDateMonthYear</strong></p>
                    <table>
                        <tr><td><strong>Product</strong></td><td><strong>New Price</strong></td></tr>
                        <tr><td>Unleaded</td><td>kUnleadedPrice</td></tr>
                        <tr><td>Super (if applicable)</td><td>kSuperPrice</td></tr>
                        <tr><td>Diesel</td><td>kDieselPrice</td></tr>
                    </table>
                    <br />
                    <ul>
                        <li>All fuel price changes must be actioned at the end of trade only</li>
                        <li>Colleague actioning the price change must ensure the changes have applied on the pumps, enter the time of the change and then sign as confirmation before filing this message at the PFS</li>
                        <li>Ensure you enter the new prices correctly into REPOS e.g. If the price is 129.90ppl, then enter 129.90 in the new price field (make sure there are no fuel sales outstanding on the REPOS system or pumps before making the price change, <strong>ALL</strong> working pumps <strong>MUST</strong> be left <strong>ON</strong> and nozzle placed in the pump holders)</li>
                        <li>You are reminded that only fuel price changes sent to you by email should be actioned. Please ignore REPOS price change reports.</li>
                    </ul>
                    <h3>24 hour sites</h3>
                    <ul>
                        <li>Action the price change in conjunction with the REPOS EOD routine between midnight and 2am. Colleague actioning the price change must ensure that the changes have applied on the pumps, enter the time of the change and then sign as confirmation before filing this message at the PFS.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default">Email Site</button>
                </div>
            </div>
        </div>
    </div>
 </form>

<form id="myform" method="post" action="emailAllSites">
    <div class="modal fade" id="emailAllSites" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send Email to ALL Sites</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you wan to email <strong>ALL</strong> Sites their daily price update</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default">Email All Sites</button>
                </div>
            </div>
        </div>
    </div>
    </form>

    <h2>Site Prices</h2>

    <div class="container" id="petrolpricingpage">





        <!-- knockout binds here -->
        <div id="msgs"></div>
        <!-- Submit disabled, all work done thru ajax calls -->
        <form id="myform" method="post" data-bind="submit: savePetrolPricingForm" xclass="input-group-sm" onsubmit="return false;">



            <div style="width:100%;text-align:right;margin-top:-20px;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#emailAllSites">Email all &nbsp;<i class="fa fa-envelope-o"></i></button>
            </div>
            <span>Market Comparison: Sainsburys's prices and Competitors</span>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="accordion">
                    <!-- HEADINGS -->
                    <thead>
                        <!-- 11 column layout -->
                        <tr rowspan="2" style="background-color: silver">
                            <th colspan="1"><span>#</span></th>

                            <th><span>Store No.</span></th>
                            <th><span></span></th>
                            <th><span>Store Name</span></th>
                            <th><span>Cat No.</span></th>
                            <th><span>PFS No.</span></th>

                            <th colspan="2"><span class="fuelHeaderGroup">&nbsp;Unleaded&nbsp;</span></th>
                            <th colspan="2"><span class="fuelHeaderGroup">&nbsp;Diesel&nbsp;</span></th>
                            <th colspan="2"><span class="fuelHeaderGroup">&nbsp;LPG&nbsp;</span></th>
                        </tr>
                        <tr>
                            <th colspan="6"></th>
                            <th><span>Today</span></th>
                            <th><span>Tomorrow</span></th>
                            <th><span>Today</span></th>
                            <th><span>Tomorrow</span></th>
                            <th><span>Today</span></th>
                            <th><span>Tomorrow</span></th>
                        </tr>
                    </thead>
                    <tbody data-bind="with: dataModel, visible: dataAvailable">
                        <!-- Within a foreach JSStores loop -->
                        <!-- JS Store DataRows -->

                        <tr class="panel-heading" role="tab" id="headingOne">
                            <td>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#CollapseCompetitorsForSite102"><i class="fa fa-plus-square-o"></i></a>
                            </td>
                            <td><span data-bind="text: StoreNo">102</span></td>
                            <td><span><a href="#" data-toggle="modal" data-target="#emailSite" type="button"><i class="fa fa-envelope-o"></i></a></span></td>
                            <td><span data-bind="text: StoreName">Sainsburys Hendon</span></td>
                            <td><span data-bind="text: CatNo"></span>100</td>
                            <td><span data-bind="text: PFSNo"></span>99</td>

                            <td>
                                <span data-bind="text: FuelPriceToday">108.9</span>
                            </td>
                            <td>
                                <i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceTomorrowAutoCalc">107.9</span>
                                <input type="text" data-bind="value: FuelPriceTomorrowOverridden" class="txtPrice" />
                            <td>
                                <span data-bind="text: FuelPriceToday">108.9</span>

                            </td>
                            <td>
                                <i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceTomorrowAutoCalc">107.9</span>
                                <input type="text" data-bind="value: FuelPriceTomorrowOverridden" class="txtPrice" />
                            </td>
                            <td>
                                <span data-bind="text: FuelPriceToday">108.9</span>
                            </td>
                            <td>
                                <i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceTomorrowAutoCalc">107.9</span>
                                <input type="text" data-bind="value: FuelPriceTomorrowOverridden" class="txtPrice" />
                            </td>
                        </tr>
                        <tr id="CollapseCompetitorsForSite102" class="panel-collapse collapse" role="tabpanel">
                            <td colspan="12" align="right">
                                <!-- Competitors table -->
                                <table class="competitorTable table-striped table-hover">
                                    <thead>
                                        <tr rowspan="2">
                                            <th><span>Brand</span></th>
                                            <th><span>Marker</span></th>
                                            <th><span>Drive-Time</span></th>
                                            <th><span>Cat No.</span></th>

                                            <th colspan="2" class="tblHighlight"><span class="fuelHeaderGroup">&nbsp;Unleaded&nbsp;</span></th>
                                            <th colspan="2"><span class="fuelHeaderGroup">&nbsp;Diesel&nbsp;</span></th>
                                            <th colspan="2" class="tblHighlight"><span class="fuelHeaderGroup">&nbsp;LPG&nbsp;</span></th>
                                        </tr>
                                        <tr>
                                            <th colspan="4"></th>
                                            <th class="tblHighlight"><span>Yesterday</span></th>
                                            <th class="tblHighlight"><span>Today</span></th>
                                            <th><span>Yesterday</span></th>
                                            <th><span>Today</span></th>
                                            <th class="tblHighlight"><span>Yesterday</span></th>
                                            <th class="tblHighlight"><span>Today</span></th>

                                        </tr>
                                    </thead>
                                    <tbody data-bind="with: competitors, visible: hasCompetitors">
                                        <!-- Within a foreach CompStores loop -->
                                        <!-- Comp Store DataRows -->
                                        <tr>
                                            <td><span data-bind="text: Brand">Asda</span></td>
                                            <td><span data-bind="text: CompetitorStoreName">Asda Compton</span></td>
                                            <td><span data-bind="text: DriveTime"></span>2.45min</td>
                                            <td><span data-bind="text: CatNo"></span>1336</td>

                                            <td class="tblHighlight"><span data-bind="text: FuelPriceYesterday">109.9</span></td>
                                            <td class="tblHighlight"><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">107.9</span></td>

                                            <td><span data-bind="text: FuelPriceYesterday">108.9</span></td>
                                            <td><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">106.9</span></td>

                                            <td class="tblHighlight"><span data-bind="text: FuelPriceYesterday">108.9</span></td>
                                            <td class="tblHighlight"><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">106.9</span></td>

                                        </tr>
                                        <tr>
                                            <td><span data-bind="text: Brand">Tesco</span></td>
                                            <td><span data-bind="text: CompetitorStoreName">Tesco Green Park</span></td>
                                            <td><span data-bind="text: DriveTime"></span>4.10min</td>
                                            <td><span data-bind="text: CatNo"></span>1336</td>

                                            <td class="tblHighlight"><span data-bind="text: FuelPriceYesterday">109.9</span></td>
                                            <td class="tblHighlight"><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">107.9</span></td>

                                            <td><span data-bind="text: FuelPriceYesterday">108.9</span></td>
                                            <td><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">106.9</span></td>

                                            <td class="tblHighlight"><span data-bind="text: FuelPriceYesterday">108.9</span></td>
                                            <td class="tblHighlight"><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">106.9</span></td>

                                        </tr>
                                    </tbody>
                                    <tbody data-bind="visible: false" style="visibility: hidden; display: none">
                                        <tr>
                                            <td colspan="10" class="noSiteData">Sorry, no site data available</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>

                        <!-- Next site TODO Remove this once knockout foreach is in place -->
                        <tr class="panel-heading" role="tab" id="headingTwo">
                            <td>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#CollapseCompetitorsforsite202"><i class="fa fa-plus-square-o"></i></a>
                            </td>
                            <td><span data-bind="text: StoreNo">202</span></td>
                            <td><span><a href="#" data-toggle="modal" data-target="#emailSite"><i class="fa fa-envelope-o"></i></a></span></td>
                            <td><span data-bind="text: StoreName">Sainsburys Hendon</span></td>
                            <td><span data-bind="text: CatNo"></span>200</td>
                            <td><span data-bind="text: PFSNo"></span>199</td>

                            <td>
                                <span data-bind="text: FuelPriceToday">108.9</span>
                            </td>
                            <td>
                                <i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceTomorrowAutoCalc">107.9</span>
                                <input type="text" data-bind="value: FuelPriceTomorrowOverridden" class="txtPrice" />
                            <td>
                                <span data-bind="text: FuelPriceToday">108.9</span>

                            </td>
                            <td>
                                <i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceTomorrowAutoCalc">107.9</span>
                                <input type="text" data-bind="value: FuelPriceTomorrowOverridden" class="txtPrice" />
                            </td>
                            <td>
                                <span data-bind="text: FuelPriceToday">108.9</span>
                            </td>
                            <td>
                                <i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceTomorrowAutoCalc">107.9</span>
                                <input type="text" data-bind="value: FuelPriceTomorrowOverridden" class="txtPrice" />
                            </td>
                        </tr>
                        <tr id="CollapseCompetitorsforsite202" class="panel-collapse collapse" role="tabpanel">

                            <td colspan="12" align="right">
                                <!-- Competitors table -->
                                <table class="competitorTable table-striped table-hover">
                                    <thead>
                                        <tr rowspan="2">
                                            <th><span>Brand</span></th>
                                            <th><span>Marker</span></th>
                                            <th><span>Drive-Time</span></th>
                                            <th><span>Cat No.</span></th>

                                            <th colspan="2" class="tblHighlight"><span class="fuelHeaderGroup">&nbsp;Unleaded&nbsp;</span></th>
                                            <th colspan="2"><span class="fuelHeaderGroup">&nbsp;Diesel&nbsp;</span></th>
                                            <th colspan="2" class="tblHighlight"><span class="fuelHeaderGroup">&nbsp;LPG&nbsp;</span></th>
                                        </tr>
                                        <tr>
                                            <th colspan="4"></th>
                                            <th class="tblHighlight"><span>Yesterday</span></th>
                                            <th class="tblHighlight"><span>Today</span></th>
                                            <th><span>Yesterday</span></th>
                                            <th><span>Today</span></th>
                                            <th class="tblHighlight"><span>Yesterday</span></th>
                                            <th class="tblHighlight"><span>Today</span></th>

                                        </tr>
                                    </thead>
                                    <tbody data-bind="with: competitors, visible: hasCompetitors">
                                        <!-- Within a foreach CompStores loop -->
                                        <!-- Comp Store DataRows -->
                                        <tr>
                                            <td><span data-bind="text: Brand">Asda</span></td>
                                            <td><span data-bind="text: CompetitorStoreName">Asda Compton</span></td>
                                            <td><span data-bind="text: DriveTime"></span>2.45min</td>
                                            <td><span data-bind="text: CatNo"></span>1336</td>

                                            <td class="tblHighlight"><span data-bind="text: FuelPriceYesterday">109.9</span></td>
                                            <td class="tblHighlight"><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceToday">107.9</span></td>

                                            <td><span data-bind="text: FuelPriceYesterday">108.9</span></td>
                                            <td><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceToday">106.9</span></td>

                                            <td class="tblHighlight"><span data-bind="text: FuelPriceYesterday">108.9</span></td>
                                            <td class="tblHighlight"><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i>&nbsp;<span data-bind="text: FuelPriceToday">106.9</span></td>

                                        </tr>
                                        <tr>
                                            <td><span data-bind="text: Brand">Tesco</span></td>
                                            <td><span data-bind="text: CompetitorStoreName">Tesco Green Park</span></td>
                                            <td><span data-bind="text: DriveTime"></span>4.10min</td>
                                            <td><span data-bind="text: CatNo"></span>1336</td>

                                            <td class="tblHighlight"><span data-bind="text: FuelPriceYesterday">109.9</span></td>
                                            <td class="tblHighlight"><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">107.9</span></td>

                                            <td><span data-bind="text: FuelPriceYesterday">108.9</span></td>
                                            <td><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">106.9</span></td>

                                            <td class="tblHighlight"><span data-bind="text: FuelPriceYesterday">108.9</span></td>
                                            <td class="tblHighlight"><i class="fa fa-arrow-circle-o-down" style="color:red;font-size:100%;"></i><span data-bind="text: FuelPriceToday">106.9</span></td>

                                        </tr>
                                    </tbody>
                                    <tbody data-bind="visible: false" style="visibility: hidden; display: none">
                                        <tr>
                                            <td colspan="10" class="noSiteData">Sorry, no site data available</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>

                    </tbody>
                    <tbody data-bind="visible: !dataAvailable" style="visibility: hidden; display: none">
                        <tr>
                            <td colspan="10" class="noSiteData">Sorry, no site data available</td>
                        </tr>
                    </tbody>
                </table>
            </div>











        </form>



    </div>

    <br />

    <script type="text/javascript">
        require(["SitePricing"]); // TODO Uncomment to fireup calls to get/send data
    </script>

