@using JsPlc.Ssc.PetrolPricing.Models
@model JsPlc.Ssc.PetrolPricing.Models.SiteViewModel

@{
    ViewBag.Title = "Site Prices";
}

<link href="~/Content/prices.css" rel="stylesheet" />

 @using (Html.BeginForm())
{
<h1>Market comparison and planner</h1>
    <hr style="width:1280px;" />
<!-- knockout binds here -->
    <div id="petrolpricingpage" onclick="IsSitePriceFormClicked=1;">
        <!-- competitor notes popup -->
        <div class="modal fade" id="competitorNotePopup" tabindex="-1" role="dialog" aria-labelledby="competitorNotePopupLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="competitorNotePopupLabel"><i class="fa fa-pencil"></i> Competitor Note for <span id="competitorNotesTitle">-</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="competitorNote">Site Note:</label>
                                <textarea id="competitorNote" rows="5" title="Please enter a Site Note"></textarea>
                                <span id="competitorNoteWarning" class="field-error-message"><i class="fa fa-warning"></i> Please enter some text for the Site Note</span>
                            </div>
                        </div>

                        <div id="competitorPriceNoteDeletePrompt" class="prompt prompt-inline prompt-hidden">
                            <div class="prompt-header">
                                <h4 class="text-center">Do you wish to delete this Site Node?</h4>
                            </div>
                            <div class="prompt-buttons text-center">
                                <button type="button" class="btn btn-danger btn-sm" data-click-action="click-yes, hide-prompt, dismiss-parent-modal"><i class="fa fa-check"></i> Yes</button>
                                <button type="button" class="btn btn-default btn-sm" data-click-action="click-no, hide-prompt"><i class="fa fa-remove "></i> No</button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" id="competitorNodeDeleteButton"><i class="fa fa-times"></i> Delete
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="competitorNodeCancelButton"><i class="fa fa-reply"></i> Cancel</button>
                        <button type="button" class="btn btn-primary" id="competitorNoteSaveButton"><i class="fa fa-check"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end competitor notes popup within knockout -->

        <!-- Competitor Prices Popup -->
        <div class="modal fade" id="competitorPricesPopup" tabindex="-1" role="dialog" aria-labelledby="competitorPricesPopupLabel">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="competitorPricesPopupLabel"><i class="fa fa-credit-card"></i> <span id="competitorPricePopupStoreName"></span> - Competitor Prices</h4>
                </div>
                <div class="modal-body">

                    <table id="competitorPricesPopupSiteInfo">
                        <thead>
                            <tr>
                                <th>Store No.</th>
                                <th class="leftDivider">Store Name</th>
                                <th class="leftDivider">Store Town</th>
                                <th class="leftDivider">Cat No.</th>
                                <th class="leftDivider">PFS No.</th>
                            </tr>
                            <tr>
                                <th class="text-center"><big class="storeNumber">--</big></th>
                                <th class="text-center leftDivider"><big class="storeName">--</big></th>
                                <th class="text-center leftDivider"><big class="storeTown">--</big></th>
                                <th class="text-center leftDivider"><big class="catNo">--</big></th>
                                <th class="text-center leftDivider"><big class="pfsNo">--</big></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <!-- start loader -->
                    <div id="competitorPricePopupLoading" class="alert alert-warning busy-loader">
                        <div class="col-md-1 text-center">
                            <i class="fa fa-clock-o fa-2x"></i>
                        </div>
                        <div class="col-md-10 text-center">
                            <strong>Loading Competitor Prices. Please wait...</strong>
                        </div>
                    </div>
                    <!-- end loader-->

                    <!-- start competitor header -->
                    <table id="competitorPricePopupHeader"></table>
                    <!-- end competitor header -->

                    <!-- start competitor table -->
                    <div id="competitorPricePopupPrices"></div>
                    <!-- end competitor table -->
                </div>
                <div class="modal-footer">
                    <div class="footer-actions">
                        <div class="btn-group" data-toggle="buttons-radio">
                            <button id="competitorPricesShowAllNotesButton" class="btn btn-sm btn-default" href="#" title="Show all notes"><i class="fa fa-pencil-square-o"></i> Show notes</button>
                            <button id="competitorPricesHideAllNotesButton" class="btn btn-sm btn-default" title="Hide all notes"><i class="fa fa-pencil-square-o"></i> Hide notes</button>
                        </div>
                    </div>

                    <button type="button" id="competitorPricePopupCloseButton" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
        <!-- END Competitor Prices Popup -->

        <!-- Email ALL popup within knockout -->
        <div class="modal fade" id="emailAllSites" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             data-bind="with: emailAllPopupSiteItemModel, visible: showEmailAllPopup">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Send Email to ALL Sites</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to email <strong>ALL</strong> Sites their daily price update?</p>
                        <h5 style="color: red" data-bind="visible: pageHasUnsavedChanges">
                            The prices shown on screen are still UNSAVED.
                            The emails will NOT be sent with these unsaved prices.
                            If you wish to send these prices, please close this popup and click "Save Prices" first.
                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: emailAllCloseClick">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: emailAllClick">Email All Sites</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Email ALL popup within knockout -->
        <!-- Email popup within knockout -->
        <div class="modal fade" id="emailSite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             data-bind="with: emailPopupSiteItemModel, visible: showEmailPopup">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Send Email</h4>
                        <h5 style="color: red" data-bind="visible: pageHasUnsavedChanges">The prices shown are UNSAVED. The email will NOT be sent with these unsaved prices. If you wish to send these prices, please close this popup and click "Save Prices" first.</h5>
                    </div>
                    <div class="modal-body smaller">
                        <h2 style="visibility: hidden; display: none">
                            kSiteName:<span data-bind="text: kSiteName"></span>
                            kStartDateMonthYear:<span data-bind="text: kStartDateMonthYear"></span>
                            kUnleadedPrice:<span data-bind="text: kUnleadedPrice"></span>
                            kDieselPrice:<span data-bind="text: kDieselPrice"></span>
                            showEmailSiteButton:<span data-bind="text: showEmailSiteButton"></span>
                            <input type="button" data-bind="click: emailSendClick" value="Test send click" />
                        </h2> <!-- debug view -->
                        <h1>FAO Store/duty manager - URGENT FUEL PRICE CHANGE</h1>
                        <p>Queries to the Trading Hotline using Option 1 Trading, Option 2 Grocery and Option 8 Petrol and Kiosk </p>
                        <h2><span id="kSiteName" data-bind="text: kSiteName"></span></h2>
                        <p>
                            <strong>
                                Petrol price changes, effective end of trade
                                <span id="kStartDateMonthYear" data-bind="text: kStartDateMonthYear"></span>
                            </strong>
                        </p>
                        <table>
                            <tr><td><strong>Product</strong></td><td><strong>New Price</strong></td></tr>
                            <tr><td>Unleaded&nbsp;</td><td>&nbsp;<span id="kUnleadedPrice" data-bind="text: kUnleadedPrice"></span></td></tr>
                            <tr><td>Super (if applicable)&nbsp;</td><td>&nbsp;<span id="kSuperPrice" data-bind="text: kSuperPrice"></span></td></tr>
                            <tr><td>Diesel&nbsp;</td><td>&nbsp;<span id="kDieselPrice" data-bind="text: kDieselPrice"></span></td></tr>
                        </table>
                        <br />
                        <ul>
                            <li>All fuel price changes must be actioned at the end of trade only</li>
                            <li>Colleague actioning the price change must ensure the changes have applied on the pumps, enter the time of the change and then sign as confirmation before filing this message at the PFS</li>
                            <li>Ensure you enter the new prices correctly into REPOS e.g. If the price is 129.90ppl, then enter 129.90 in the new price field (make sure there are no fuel sales outstanding on the REPOS system or pumps before making the price change, <strong>ALL</strong> working pumps <strong>MUST</strong> be left <strong>ON</strong> and nozzle placed in the pump holders)</li>
                            <li>You are reminded that only fuel price changes sent to you by email should be actioned. Please ignore REPOS price change reports.</li>
                        </ul>
                        <h3>24 hour sites</h3>
                        <ul>
                            <li>Action the price change in conjunction with the REPOS EOD routine between midnight and 2am. Colleague actioning the price change must ensure that the changes have applied on the pumps, enter the time of the change and then sign as confirmation before filing this message at the PFS.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <h5 style="color: red" data-bind="visible: pageHasUnsavedChanges">The prices shown are UNSAVED. The email will NOT be sent with these unsaved prices. If you wish to send these prices, please close this popup and click "Save Prices" first.</h5>
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: hideEmailPopup">Cancel</button>
                        <input type="button" class="btn btn-primary" value="Email Site"
                               id="EmailSiteButton" onclick="" data-dismiss="modal" data-bind="visible: showEmailSiteButton, click: emailSendClick" />
                    </div>
                </div>
            </div>
        </div>
        <!-- End Email popup within knockout -->
        <!-- Submit disabled, all work done thru ajax calls -->
        <form id="myform" method="post" data-bind="submit: savePetrolPricingForm" xclass="input-group-sm" action="sites/PostPrices" onsubmit="    return false;" onclick="    IsSitePriceFormClicked=1; " style="width: 1280px;">
            <div class="row" onclick=" IsSitePriceFormClicked=1; " style="width:1280px;">
                <!-- Date Picker -->
                <div class="col-md-1">
                    <label for="viewingDate">Date:</label>
                    <input type="text" id="viewingDate" class="datepicker form-control" onmousedown="IsSitePriceFormClicked=1;" onclick="IsSitePriceFormClicked=1;"
                           style="width: 85px" name="viewingDate" maxlength="12"
                           data-bind="value: $root.InitDate" />
                </div>
                <!-- Store No -->
                <div class="col-md-1">
                    <label for="viewingStoreNo">Store No:</label>
                    <input type="text" id="viewingStoreNo" class="form-control" maxlength="9" style="width: 70px;"
                           name="viewingStoreNo" data-bind="numeric, value: $root.StoreNo" />
                </div>
                <!-- Store Name -->
                <div class="col-md-2">
                    <label for="viewingStoreName">Store Name:</label>
                    <input type="text" id="viewingStoreName" class="form-control" maxlength="50" 
                           name="viewingStoreName" data-bind="value: $root.StoreName" />
                </div>
                <!-- Store Town -->
                <div class="col-md-2">
                    <label for="viewingStoreTown">Store Town:</label>
                    <input type="text" id="viewingStoreTown" class="form-control" maxlength="50" 
                           name="viewingStoreTown" data-bind="value: $root.StoreTown" />
                </div>
                <!-- Catalist No -->
                <div class="col-md-1" style="width: 100px;">
                    <label for="viewingCatNo">Catalist No:</label>
                    <input type="text" id="viewingCatNo" class="form-control" maxlength="9" style="width: 70px;"
                           name="viewingCatNo" data-bind="numeric, value: $root.CatNo" />
                </div>
                <!-- go button -->
                <div class="col-md-1">
                    <button style="margin-top: 24px;margin-left:10px;" type="button" id="btnGO" class="btn btn-success" data-bind="click: loadPageWithParams">Go</button>
                </div>
                <!-- show all button -->
                <div class="col-md-1" >
                    <button style="margin-top: 24px" type="button" class="btn btn-default" data-bind="click: function() { reloadSearchPage('Sites/Prices?date='+$root.InitDateInUsFormat()) }">Show all</button>
                </div>
                <!-- ExportToExcel button -->
                <div class="col-md-1" style="width: 130px; margin-left: 80px;">
                    <input type="button" style="margin-top: 24px;margin-left:0px " class="btn btn-primary" id="btnExportAll" value="Export All" />
                </div>
                <div class="col-md-1" style="margin-left: -20px;">
                    <input type="button" style="margin-top: 24px;margin-left:0px " class="btn btn-primary" id="btnExportSites" value="Export JS Sites" />
                </div>


            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Price changes</label><br />
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm" data-bind="click: PriceChangeFilterAll, css: {'btn-primary': $root.priceChangeFilter() == 'All'}">Any</button>
                        <button type="button" class="btn btn-sm" data-bind="click: PriceChangeFilterYes, css: {'btn-primary': $root.priceChangeFilter() == 'Yes'}">Yes</button>
                        <button type="button" class="btn btn-sm" data-bind="click: PriceChangeFilterNo, css: {'btn-primary': $root.priceChangeFilter() == 'No'}">No</button>
                    </div>
                </div>
            </div>
            <hr style="width:1280px;" />
            <div class="row" >
                <div class="col-md-1" style="width:410px;">

                    <label>Excluded Brands</label>
                    @Html.ListBoxFor(model => model.ExcludeBrands, new MultiSelectList(Model.AllBrands), new { @data_placeholder = "Select Brands...", @class = "chosen-select", style = "width: 400px;", id = "lstbxexcludebrands" })

                </div>
                <div class="col-md-1" style="width:750px;margin-top:24px;margin-left:10px">
                    <fieldset>
                        <legend style="border: 1px gray solid;width:860px;">
                            &nbsp&nbsp  <font size="2" data-bind="with: dataModel"><b>Total:</b> <b style="color: red"  data-bind="text: sites.length"></b></font>

                            <font size="2" >
                                &nbsp&nbsp <a>Price Difference :</a>
                            </font>
                            <font size="2" data-bind="foreach: PriceDifferences">
                                &nbsp&nbsp&nbsp&nbsp <b><b data-bind="text: key"></b>:-&nbsp</b> <b style="color: blue"><b data-bind="text: value"></b>&nbsp sites</b>
                            </font>

                        </legend>



                    </fieldset>
                </div>
            </div>
            <hr style="width:1280px;" />
            <div style="display: none" class="alert alert-danger" data-bind="visible: $root.HasValidationErrors() || $root.HasErrorMessage()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-8" style="padding-top: 2px"><strong><span id="msgError"></span></strong></div>
                <div class="clearfix"></div>
            </div>
            <div style="display: none" class="alert alert-warning" data-bind="visible: !$root.hasAnyFieldErrors() && !$root.HasValidationErrors() && $root.HasUnsavedChanges() && !$root.ViewingHistorical() && !$root.hasBadPriceChangeValue()">
                <div class="col-md-1 text-center"><i class="fa fa-question-circle fa-2x"></i></div>
                <div class="col-md-5">
                    <strong>
                        You have unsaved changes. Would you like to save them?
                    </strong>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-success" data-bind="click: savePetrolPricingForm">
                        Yes
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div style="display: none" class="alert alert-success" data-bind="visible: $root.HasSuccessMessage()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-4" style="padding-top: 2px"><span id="msgSuccess"></span></div>
                <div class="clearfix"></div>
            </div>

            <div style="display: none;" class="alert alert-danger" data-bind="visible: $root.hasBadPriceChangeValue()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-10">
                    <strong>Please enter a valid value for the price change for <span id="msgFuelTypeError"></span>.</strong>
                </div>
                <div class="col-md-1 pull-right">
                    <span class="clickable btn btn-default" data-bind="click:closeWarningPanel">
                        <i class="fa fa-close"></i> Close
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>

            <div style="display:none;" class="alert alert-danger" data-bind="visible: $root.hasAnyFieldErrors() && !$root.HasValidationErrors()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-10">
                    <strong>There are 1 or more field errors. Please correct and retry.</strong>
                </div>
                <div class="clearfix"></div>
            </div>

            <div style="display:block;" class="alert alert-warning busy-loader" data-bind="visible: $root.busyLoadingData()">
                <div class="col-md-1 text-center"><i class="fa fa-clock-o fa-2x"></i></div>
                <div class="col-md-10 text-center">
                    <strong>Loading Sales Pricing information. Please wait...</strong>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="table-responsive" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">


                <div class="row" data-bind="visible: !$root.ViewingHistorical()">
                    <div class="col-md-5">
                        <!-- Price Change Type -->
                        <div class="col-md-6" style="margin-left: -10px"><b>Price change type:</b></div>
                        <div class="col-md-6">
                            <label class="radio-button"><input type="radio" value="(+/-n)" data-bind="click: switchChangeType, checked: changeType" /> (+/-n)</label>&nbsp;&nbsp; <br />
                            <label class="radio-button"><input type="radio" value="Override all" data-bind="click: switchChangeType, checked: changeType" /> Override all</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="smaller-normal">
                            <span style="display: inline-block; width: 55px" data-bind="text: changeType"></span>
                            <input type="text" class="form-control input-override" maxlength="8" data-bind="value: $root.unleadedOffset" />
                            <input type="button" class="btn btn-default btn-xs btn-go" value="Go" data-bind="click: changePricePerLitreUnleaded" />
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="smaller-normal">
                            <span style="display: inline-block; width: 55px" data-bind="text: changeType"></span>
                            <input type="text" class="form-control input-override" maxlength="8" data-bind="value: $root.dieselOffset" />
                            <input type="button" class="btn btn-default btn-xs btn-go" value="Go" data-bind="click: changePricePerLitreDiesel" />
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="smaller-normal">
                            <span style="display: inline-block; width: 55px" data-bind="text: changeType"></span>
                            <input type="text" class="form-control input-override" maxlength="8" data-bind="value: $root.superOffset" />
                            <input type="button" class="btn btn-default btn-xs btn-go" value="Go" data-bind="click: changePricePerLitreSuper" />
                        </span>
                    </div>
                </div>
                <br />
                <div class="row" style="background-color: silver;font-weight: bold;height:60px;">
                    <div class="col-sm-1" style="width:5px;margin:2px;">#</div>
                    <div class="col-sm-1" style="width:50px"><span style="vertical-align:bottom;height:60px">Store No.</span></div>
                    <div class="col-sm-1" style="width:10px"><span></span></div>
                    <div class="col-sm-1" style="width:230px"><span>Store Name</span></div>
                    <div class="col-sm-1" style="width:120px"><span>Store Town</span></div>
                    <div class="col-sm-1" style="width:50px"><span>Cat No.</span></div>
                    <div class="col-sm-1" style="width:50px"><span>PFS No.</span></div>

                    <div class="col-sm-1" style="border-left: 1px solid #ccc;width:240px;text-align:center;height:60px">
                        <h4>
                            <span class="label label-success">
                                &nbsp;Unleaded&nbsp;
                            </span>
                        </h4>
                    </div>
                    <div class="col-sm-1" style="border-left: 1px solid #ccc;width:240px;text-align:center;height:60px">
                        <h4>
                            <span class="label label-black">&nbsp;Diesel&nbsp;</span>
                        </h4>
                    </div>
                    <div class="col-sm-1" style="border-left: 1px solid #ccc;width:240px;text-align:center;height:60px">
                        <h4>
                            <span class="label label-success-inverted">&nbsp;Super Unleaded&nbsp;</span>
                        </h4>
                    </div>
                </div>
                <div class="row" style="font-weight: bold;">
                    <!-- 13 column layout -->
                    <div class="col-sm-1" style="width:5px"></div>
                    <div class="col-sm-1" style="width:534px;height:60px">
                        <!-- EMAIL all Button, only loads popup -->
                        <br />
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#emailAllSites"
                                data-bind="visible: !$root.ViewingHistorical() && $root.dataAvailable() == true">
                            Email all &nbsp;<i class="fa fa-envelope-o"></i>
                        </button>
                    </div>

                    <div class="col-sm-1" style="border-left: 1px solid #ddd; width:93px;height:60px;text-align:left"><br /><span id="today1">Today</span></div>
                    <div class="col-sm-1" style="border-left: 1px solid #ddd;width:145px;height:60px;text-align:left"><br /><span id="tomorrow1">Tomorrow</span></div>
                    <div class="col-sm-1" style="border-left: 1px solid #ddd;width:93px;height:60px;text-align:left"><br /><span id="today2">Today</span></div>
                    <div class="col-sm-1" style="border-left: 1px solid #ddd;width:145px;height:60px;text-align:left;"><br /><span id="tomorrow2">Tomorrow</span></div>
                    <div class="col-sm-1" style="border-left: 1px solid #ddd;width:93px;height:60px;text-align:left"><br /><span id="today3">Today</span></div>
                    <div class="col-sm-1" style="border-left: 1px solid #ddd;width:145px;height:60px;text-align:left;"><br /><span id="tomorrow3">Tomorrow</span></div>
                </div>

                <hr style="padding:0px;margin:0px" />

                <div class="actualdata" style="padding:0px;margin:0px" data-bind="with: dataModel">
                    <!-- JS Store DataRows -->
                    <!-- ko foreach: sites -->
                    <div class="row" role="tab" data-bind="id:('Heading' + SiteId), attr: {id: 'SiteHeading' + SiteId}, visible: $root.priceChangeFilter() == 'All' || ($root.priceChangeFilter() == 'Yes' && hasPriceChanges()) || ($root.priceChangeFilter() == 'No' && !hasPriceChanges())">
                        <div class="col-sm-1" style="width:5px;margin:2px;height:auto">

                            <a role="button" data-toggle="modal" data-bind="attr:{id: SiteId}, click: getCompetitorPopupDataClick"
                               data-target="#competitorPricesPopup" title="View competitor's prices">
                                <i class="fa fa-credit-card"></i>
                            </a>

                            @*<a role="button" data-toggle="collapse" data-parent="#accordion" onclick="IsSitePriceFormClicked=1;"
                               data-bind="attr:{href:('#CollapseCompetitorsforsite' + SiteId)}, click: getCompetitorDataClick"><i class="fa fa-minus-square-o" data-bind="css: showingComps() ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'"></i></a>*@
                        </div>
                        <div class="col-sm-1" style="width:50px"><span data-bind="text: StoreNo"></span></div>
                        <!-- Email envelope... -->
                        <div class="col-sm-1" style="width:10px">
                            <span>
                                <a href="#" data-toggle="modal" data-target="#emailSite" data-bind="click: bindEmailTemplate">
                                    <i class="fa fa-envelope-o" data-bind="visible: canSendEmail()"></i>
                                    <!-- ko if: hasEmailSendLogEntry() -->
                                    <!-- ko with: EmailSendLogEntry -->
                                    <i class="fa fa-check" data-bind="visible: IsSuccess, attr: {title:'Email sent..'}" style="color: green"></i>
                                    <i class="fa fa-warning" data-bind="visible: IsWarning, attr: {title:WarningMessage}" style="color: orange"></i>
                                    <i class="fa fa-ban" data-bind="visible: IsError, attr: {title:ErrorMessage}" style="color: red"></i>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </a>
                            </span>
                        </div>
                        <div class="col-sm-1" style="width:230px"><span data-bind="text: StoreName"></span></div>
                        <div class="col-sm-1" style="width:120px"><span data-bind="text: Town"></span></div>
                        <div class="col-sm-1" style="width:50px"><span data-bind="text: CatNo"></span></div>
                        <div class="col-sm-1" style="width:50px"><span data-bind="text: PfsNo"></span></div>

                        <!-- ko foreach: FuelPricesToDisplay -->
                        <!-- ko if: siteSupportsFuel -->
                        <div class="col-sm-1" style="border-left: 1px solid #ddd;width:93px;height:45px">
                            <span data-bind="text: FuelPrice.TodayPrice"></span>
                        </div>
                        <div class="col-sm-1" align="left" style="border-left: 1px solid #ddd;margin-left:0px; width:145px;height:45px">
                            <span data-bind="attr:{title:(FuelPrice.IsTrailPrice ? 'Trail price: ' + FuelPrice.CompetitorName : 'Competitor name: ' + FuelPrice.CompetitorName + '; Markup: ' + FuelPrice.Markup)}, text: FuelPrice.AutoPrice"></span>
                            <input type="text" data-bind="value: FuelPrice.OverridePrice, visible: !$root.ViewingHistorical(),
                                id: ('OverridePrice_' + $parent.SiteId + '_' + FuelPrice.FuelTypeId), event:{keyup: changeProp}" class="txtPrice" maxlength="8" />
                            <span style="color: red">
                                <span data-bind="attr :{id: ('OverridePriceHighlight_' + $parent.SiteId + '_' + FuelPrice.FuelTypeId)}"></span>
                            </span>
                            <!-- note: override prices can be extracted using $('#SiteId-FueldTypeId-overridePrice') -->
                            <i data-bind="attr: {
                                    class: (!UpDownValue() || UpDownValue() == 0 || UpDownValue() == '-') ? 'fa fa-arrow-circle-o-right'
                                            : (UpDownValue() <= 0.1) ? 'fa fa-arrow-circle-o-down': 'fa fa-arrow-circle-o-up',
                                    style: (!UpDownValue() || UpDownValue() == 0 || UpDownValue() == '-') ? 'color: grey'
                                            : (UpDownValue() <= 0.1) ? 'color: red': 'color: green',
                                            }"></i>
                            &nbsp;<span data-bind="text: (!UpDownValue() || UpDownValue() == 0 || UpDownValue() == '-') ? '-' :
                                                           (UpDownValue()/10)"></span>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: !siteSupportsFuel -->
                        <div class="col-sm-1" style="border-left: 1px solid #ddd;width:93px;height:45px">n/a</div>
                        <div class="col-sm-1" style="border-left: 1px solid #ddd;margin-left:0px; width:145px;height:45px">n/a</div>
                       
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>

                    <div data-bind="attr:{id: ('AjaxCollapseCompetitorsforsite' + SiteId)}" onclick="IsSitePriceFormClicked=1;" class="panel-collapse collapse" role="tabpanel" style="background-color: grey">
                        <div class="compitatorData">
                            <table class="competitorTable table-striped table-hover full-width">
                                <colgroup>
                                    <col width="12%" />
                                    <col width="6%" />
                                    <col width="18%" />
                                    <col width="4%" />
                                    <col width="4%" />

                                    <col width="6%" />
                                    <col width="6%" />
                                    <col width="6%" />
                                    <col width="6%" />
                                    <col width="6%" />
                                    <col width="6%" />
                                    <col width="6%" />
                                    <col width="6%" />
                                    <col width="6%" />
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th class="num1"><span>Brand</span></th>
                                        <th class="num2"><span>Notes</span></th>
                                        <th class="num3"><span>Marker</span></th>
                                        <th class="num4"><span>Drive-Time</span></th>
                                        <th class="num5"><span>Cat No.</span></th>

                                        <th colspan="3" class="text-center" style="border-left: 1px solid #ccc">
                                            <h4>
                                                <span class="label label-success">
                                                    &nbsp;Unleaded&nbsp;
                                                </span>
                                            </h4>
                                        </th>
                                        <th colspan="3" class="text-center" style="border-left: 1px solid #ccc">
                                            <h4>
                                                <span class="label label-black">&nbsp;Diesel&nbsp;</span>
                                            </h4>
                                        </th>
                                        <th colspan="3" class="text-center" style="border-left: 1px solid #ccc">
                                            <h4>
                                                <span class="label label-success-inverted">&nbsp;Super Unleaded&nbsp;</span>
                                            </h4>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="5"></th>
                                        <th class="num6 tblHighlight"><span class="compyday">Yesterday</span></th>
                                        <th class="num7 tblHighlight"><span class="comptoday">Today</span></th>
                                        <th class="num8 tblHighlight"><span class="jsdiff" >JS_Diff</span></th>
                                        <th class="num9"><span class="compyday">Yesterday</span></th>
                                        <th class="num10"><span class="comptoday">Today</span></th>
                                        <th class="num11"><span class="jsdiff">JS_Diff</span></th>
                                        <th class="num12 tblHighlight"><span class="compyday">Yesterday</span></th>
                                        <th class="num13 tblHighlight"><span class="comptoday">Today</span></th>
                                        <th class="num14 tblHighlight"><span class="jsdiff">JS_Diff</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko if: loadingCompetitors() -->
                                    <tr>
                                        <td colspan="14" class="noSiteData text-center"><span class="please-wait"><i class="fa fa-clock-o"></i> Loading... Please wait</span></td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- ko if: !loadingCompetitors() -->
                                    <!-- ko if: !hasCompetitors() -->
                                    <tr>
                                        <td colspan="14" class="noSiteData text-center"><span class="no-competitors"><i class="fa fa-info-circle"></i> Sorry, no competitors available</span></td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- ko if: hasCompetitors() -->
                                    <!-- ko foreach: competitors -->
                                    <tr class="competitor-row hoverable" title="Double click to edit/create Site Note" data-bind="attr:{id:'CompetitorSiteRow_' + SiteId}, style: {background : $parent.FuelPricesToDisplay[0].FuelPrice.CompetitorName == Brand + '/' + StoreName  && $parent.FuelPricesToDisplay[0].FuelPrice.AutoPrice >0 ?  'yellow' : 'lightgray'}">
                                        <td class="num1"><span data-bind="text: Brand"></span></td>
                                        <td class="num2">
                                            <button type="button" class="btn btn-default btn-xs triggerEditSiteNote" data-bind="attr:{id: 'EditSiteNoteButton_' + SiteId}" title="Create or edit note" ><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn btn-default btn-xs triggerToggleNote" data-bind="attr:{id: 'ToggleSiteNoteButton_' + SiteId}" title="Show Note"><i class="fa fa-sort-up"></i></button>
                                        </td>
                                        <td class="num3"><span data-bind="text: StoreName"></span></td>
                                        <td class="num4"><b><span data-bind="text: DriveTime"></span></b></td>
                                        <td class="num5"><span data-bind="text: CatNo"></span></td>

                                        <!-- ko foreach: FuelPricesToDisplay -->
                                        <!-- ko if: siteSupportsFuel -->
                                        <td style="border-left: 1px solid #ccc"><span data-bind="text: FuelPrice.YestPrice"></span></td>
                                        <td style="border-left: 1px solid #ccc;">
                                            <span data-bind="text: FuelPrice.TodayPrice"></span>


                                            <i data-bind="attr: {
                                    class: (FuelPrice.Difference == 0 || FuelPrice.Difference == '-') ? 'fa fa-arrow-circle-o-right'
                                            : (FuelPrice.Difference <= 0.1) ? 'fa fa-arrow-circle-o-down': 'fa fa-arrow-circle-o-up',
                                    style: (FuelPrice.Difference == 0 || FuelPrice.Difference == '-') ? 'color: grey'
                                            : (FuelPrice.Difference <= 0.1) ? 'color: red': 'color: green',
                                            }"></i>
                                            &nbsp;<span data-bind="text: (FuelPrice.Difference == 0 || FuelPrice.Difference == '-') ? '-' :
                                                           (FuelPrice.Difference/10)"></span>


                                        </td>
                                        <td style="border-left: 1px solid #ccc;">

                                            <div data-bind="if: FuelPrice.FuelTypeId==2">
                                                    <div data-bind="if: ($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1)  != 'NaN' ">
                                                        <span data-bind="text: ($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) "></span>
                                                        <i data-bind="attr: {
                                 class: ( ($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1)   == 0 || ($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1)  == 'NaN' ) ? ''
                                            : (($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1)  <= 0.1) ? 'fa fa-minus': 'fa fa-plus',
                                    style: (($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1)  == 0 || ($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice ).toFixed(1) == 'NaN') ? 'color: grey'
                                            :( ($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice ).toFixed(1)  <= 0.1) ? 'color: red': 'color: green'
                                            }"></i>
                                                    </div>
                                                    <div data-bind="if: ($parents[1].FuelPricesToDisplay[0].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 'NaN' ">
                                                        <span>n/a</span>
                                                    </div>
                                                  
                                               
                                            </div>
                                            <div data-bind="if: FuelPrice.FuelTypeId==6">
                                                  
                                                <div data-bind="if: ($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1)  != 'NaN' ">
                                                    <span data-bind="text: ($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) "></span>
                                                    <i data-bind="attr: {
                                 class: ( ($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 0 || ($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 'NaN' ) ? ''
                                            : (($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) <= 0.1) ? 'fa fa-minus': 'fa fa-plus',
                                    style: (($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 0  || ($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 'NaN' ) ? 'color: grey'
                                            :( ($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) <= 0.1) ? 'color: red': 'color: green'
                                            }"></i>
                                                </div>
                                                <div data-bind="if: ($parents[1].FuelPricesToDisplay[1].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 'NaN' ">
                                                    <span>n/a</span>
                                                </div>
                                                
                                            </div>
                                            <div data-bind="if: FuelPrice.FuelTypeId==1">
                                                <div data-bind="if: ($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1)  != 'NaN' ">
                                                    <span data-bind="text: ($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) "></span>
                                                    <i data-bind="attr: {
                                 class: ( ($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice -FuelPrice.TodayPrice).toFixed(1) == 0 || ($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 'NaN'  ) ? ''
                                            : (($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) <= 0.1) ? 'fa fa-minus': 'fa fa-plus',
                                    style: (($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 0 || ($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 'NaN') ? 'color: grey'
                                            :( ($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) <= 0.1) ? 'color: red': 'color: green'
                                            }"></i>
                                                </div>
                                                <div data-bind="if: ($parents[1].FuelPricesToDisplay[2].FuelPrice.AutoPrice - FuelPrice.TodayPrice).toFixed(1) == 'NaN' ">
                                                    <span>n/a</span>
                                                </div>
                                                
                                            </div>
                                        </td>
                                        <!-- /ko -->
                                        <!-- ko if: !siteSupportsFuel -->
                                        <td style="border-left: 1px solid #ccc" colspan="3">n/a</td>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </tr>
                                    <tr class="note-row" data-bind="attr:{id:'CompetitorNote_' + SiteId}">
                                        <td colspan="14">
                                            <div class="note-panel">
                                                <p class="note-panel-text" data-bind="formatSiteNote: Notes" title="Click to edit"></p>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>


                        <div class="container" data-bind="visible: $root.dataAvailable() == false" style="display: none">
                            <div class="row">
                                <div class="noSiteData">
                                    No results found
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- /ko -->
                </div>
            </div>
        </form>
    </div>
<br />
}

<script src="~/Scripts/App/prices.js"></script>
