@model  JsPlc.Ssc.PetrolPricing.Models.ViewModels.StatusViewModel
@{
    ViewBag.Title = "Upload Site Emails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .step-number {
    font-size: 200%;
    color: #999;
    background-color: #eee;
    border-radius: 2em;
    display: inline-block;
    width: 3em;
    line-height: 1.5em;
    text-align: center;
    }

    .step-number:before {
        content: 'Step';
        font-size: 50%;
        position: relative;
        top: -0.25em;
        left: -0.25em;
    }
</style>

<h1><i class="fa fa-at"></i> Upload Site Email Addresses</h1>


@if(Model.ErrorMessage != "")
{
    <div class="alert alert-danger">
        <i class="fa fa-warning"></i> Error: @(Model.ErrorMessage)
    </div>
}
@if(Model.SuccessMessage != "")
{
    <div class="alert alert-success">
        <i class="fa fa-check"></i> Success: @(Model.SuccessMessage)
    </div>
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-warning no-margin">
            <i class="fa fa-info-circle"></i> <strong>Note:</strong> Uploading a file automatically turns <strong>OFF</strong> the use of <strong>LIVE</strong> email addresses and the <strong>Test Email Addresses</strong> will be used instead.<br />
            After uploading the email addresses you should review them and re-enable them via the <a class="page-link" href="@Url.Action("Index","Settings")" data-infotip="View the [b]Settings page [/b]">Settings page</a>.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-info">
            <i class="fa fa-smile-o"></i> <strong>Tip:</strong> You can also load the <strong>CatNo</strong> and <strong>PfsNo</strong> for any Site which has a <strong>StoreNo</strong>.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4><i class="fa fa-upload"></i> Upload a Site Email File</h4>
            </div>
            <div class="panel-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="step-number">1</span>
                        </div>

                        <div class="col-md-3">
                            <span class="btn btn-success btn-file" id="FileButton">
                                <i class="fa fa-file"></i>
                                Select file...
                                <input type="file" name="file" id="file" class="inputfile" accept=".xls, .xlsx" />
                            </span>
                        </div>

                        <div class="col-md-7">
                            <strong id="divPleaseSelect" class="text-danger"><i class="fa fa-arrow-left"></i> Please select a file</strong>
                            <strong id="divSelected" class="text-success" style="display:none;"><i class="fa fa-check"></i> <span id="spnSelectedFile" class="font125pc"></span></strong>
                        </div>
                    </div>
                    <hr />
                    <div class="row hide" id="divStep2" >
                        <div class="col-md-2">
                            <span class="step-number">2</span>
                        </div>
                        <div class="col-md-10">
                            <button type="submit" id="UploadFileButton" class="btn btn-primary"><i class="fa fa-upload"></i> Upload file</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
       </div>

</div>
<div class="row newline">
    <div class="col-md-1">
        <a class="btn btn-default" href="@Url.Action("SiteEmails", "Sites")"><i class="fa fa-backward"></i> Back to list</a>
    </div>
</div>
<script>
    require(["jquery", "busyloader", "notify", "infotips"],
        function ($, busyloader, notify, infotips) {

            function uploadButtonClick() {
                busyloader.show({
                    message: 'Importing Email Addresses. Please wait...',
                    showtime: 2000,
                    dull: true
                });
            };

            function fileChanged() {
                var path = $('#file').val(),
                    step2 = $('#divStep2'),
                    pleaseSelect = $('#divPleaseSelect'),
                    selected = $('#divSelected'),
                    spnSelectedFile = $('#spnSelectedFile'),
                    alerts = $('.alert');

                alerts.hide();

                if (/\S/.test(path)) {
                    step2.removeClass('hide');
                    spnSelectedFile.html(path.split('\\').pop());
                    pleaseSelect.hide();
                    selected.show();
                }
                else {
                    step2.addClass('hide');
                    pleaseSelect.show();
                    selected.hide();
                    filename.removeClass('text-success').addClass('text-danger').html('')
                }
            };

            function docReady() {
                $('#UploadFileButton').click(uploadButtonClick);
                $('#file').on('change', fileChanged);
            };

            $(docReady);


        });
</script>