@{
	ViewBag.Title = "Forgot password confirmation";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<hr />
<div>
    <p>
        To reset your password please follow the instructions which were sent to your email address.
    </p>
</div>
	
