@using JsPlc.Ssc.PetrolPricing.Models;
@model IEnumerable<ImportProcessError>
<h4>Found errors</h4>
<table class="table table-striped">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.RowOrLineNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RowOrLineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorMessage)
            </td>
        </tr>
    }
</table>
