@model IEnumerable<JsPlc.Ssc.PetrolPricing.Models.FileUpload>
@{
    ViewBag.Title = "Daily Pricing, Latest JS Pricing, Latest Compitetor Pricing and Quarterly files";
}
@section head
{
    <meta http-equiv="refresh" content="15" />
}

<div class="row">
    <div class="col-md-6">
        <h1>Daily Pricing, Latest JS Pricing, Latest Compitetor Pricing and Quarterly files</h1>
        <p>This page reloads every 15 sec to refresh status update</p>
    </div>
    <div class="col-md-6 text-right" style="padding-top: 20px">
        <input type="button" value="New Upload" onclick="location.href='@Url.Action("Upload", "File" )'" class="btn btn-primary" />
    </div>
</div>
<div class="alert alert-info @(string.IsNullOrWhiteSpace(ViewBag.Message) ? "hidden" : "")">@ViewBag.Message</div>
<hr />
@Html.Partial("_FileUploadsList", Model)
