@model IEnumerable< JsPlc.Ssc.PetrolPricing.Models.FileUpload>
@{
    ViewBag.Title = "File Upload";
}

<h2>File Upload</h2>
<p style="color:blue; font-size: larger; font-weight: bold">@ViewBag.Message</p>

<div align="right">
    <input type="button" value="New Upload" onclick="location.href='@Url.Action("Upload", "File" )'" />
</div>

<div>
    Daily Pricing and Quarterly Files
    <hr/>
    List of Files:
    @Html.Partial("_FileUploadsList", Model)

</div>