@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
<h3>@ViewBag.Message</h3>
<br/>
<span style="color:red">@ViewBag.ErrorMessage</span>
<span style="color:green; font-size: larger">@ViewBag.SuccessMessage</span>

<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>File upload:</legend>
        <span>Click the Choose File button to pick a file to upload</span><input type="file" name="file" id="file" />
        <label for="file"></label>
        <hr />
        <input type="submit" value="Upload" />
    </fieldset>
</form>
