@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.ReportInformationViewModel 
<div class="row">
    <div class="col-md-10 col-md-offset-1 well">
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-2x"></i>
        </div>
        <div class="col-md-11">
            <strong>
                @Html.Raw(Model.Introduction)
            </strong>
        </div>
    </div>
</div>