@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>

<div class="report">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/CompetitorSites">Competitor Sites</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/PricePoints">Price Points</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="PriceReports/nationalAverage">National Average</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="PriceReports/nationalAverage2">National Average 2</a></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/PriceMovement">Price Movements</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default"><!--  panel-disabled -->
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/Compliance">Compliance Check</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/CompetitorsPriceRange">Competitors Price Range</a></div>
            </div>
        </div>

        @*<div class="col-md-3">
            <div class="panel panel-default panel-disabled">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="#">Weekly, Daily, Monthly</a></div>
            </div>
        </div>*@
    </div>

</div>