@{
    ViewBag.Title = "Reports";
}

<h1>@ViewBag.Title</h1>
<hr />
<div class="report">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/CompetitorSites">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorSites">Competitor sites</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/PricePoints">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/PricePoints">Price points</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/nationalAverage">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/nationalAverage">National average</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/nationalAverage2">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/nationalAverage2">National average 2</a></div>
            </div>
        </div>
    </div>

    <div class="row">
      
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/nationalAverage3">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/nationalAverage3">National average 3</a></div>
            </div>
        </div>
       
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/PriceMovement">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/PriceMovement">Price movements</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <a href="~/PriceReports/Compliance">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/Compliance">Compliance check</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <a href="~/PriceReports/CompetitorsPriceRange">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorsPriceRange">Competitors price range</a></div>
            </div>
        </div>
    </div>
    <div class="row">
       

       

        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <a href="~/PriceReports/CompetitorsPriceRangeByCompany">
                        <img src="~/images/report.png" />
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorsPriceRangeByCompany">Competitors price range by company</a></div>
            </div>
        </div>
    </div>
</div>