@{
    ViewBag.Title = "Reports";
}

<h1>@ViewBag.Title</h1>
<hr />
<div class="report">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/CompetitorSites">Competitor sites</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/PricePoints">Price points</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="PriceReports/nationalAverage">National average</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="PriceReports/nationalAverage2">National average 2</a></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/PriceMovement">Price movements</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default"><!--  panel-disabled -->
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/Compliance">Compliance check</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/CompetitorsPriceRange">Competitors price range</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/PriceReports/CompetitorsPriceRangeByCompany">Competitors price range by company</a></div>
            </div>
        </div>
        
    </div>

</div>