@{
    ViewBag.Title = "Reports";
}
<style>
   

    div.transbox {
        background-color: #ffffff;
        opacity: 0.8;
 
    }

        div.transbox p {
            font-weight: bold;
            color: #000000;
        }
</style>
<h1>@ViewBag.Title</h1>
<hr />
<div class="report">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/CompetitorSites">
                        <img src="~/images/report.png" height="50" width="50" />
                        <div class="transbox">
                            <p style="height: 70px;">Report shows how many and which competitors face JS sites within a 0-30 minute drive time</p>
                        </div>
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorSites">Competitor sites</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/PricePoints">
                        <img src="~/images/report.png" height="50" width="50" />
                        <div class="transbox">
                            <p style="height: 70px;">Report identifies the various retail prices of both diesel and unleaded for each brand and provides a market summary of how many brands have sites at each price point.</p>
                        </div>
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/PricePoints">Price points</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/nationalAverage">
                        <img src="~/images/report.png" height="50" width="50" />
                        <div class="transbox">
                            <p style="height: 70px;">Report shows the average price of diesel and unleaded for all brands and their variance to JS.</p>
                        </div>
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/nationalAverage">National average</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/nationalAverage2">
                        <img src="~/images/report.png" height="50" width="50" />
                        <div class="transbox">
                            <p style="height: 70px;">Report produces the output for the tracking competitor tab in the PPL spreadsheet.</p>
                        </div>
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/nationalAverage2">National average 2</a></div>
            </div>
        </div>
    </div>

    <div class="row">
      
          
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="~/PriceReports/PriceMovement">
                        <img src="~/images/report.png" height="50" width="50" />
                        <div class="transbox">
                            <p style="height: 70px;">Tracks retail prices of individual sites over a specified period.</p>
                        </div>
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/PriceMovement">Price movements</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <a href="~/PriceReports/Compliance">
                        <img src="~/images/report.png" height="50" width="50" />
                        <div class="transbox">
                            <p style="height: 70px;">Report checks JS site compliance of fuel price changes from the day prior.</p>
                        </div>
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/Compliance">Compliance check</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <a href="~/PriceReports/CompetitorsPriceRange">
                        <img src="~/images/report.png" height="50" width="50" />
                        <div class="transbox">
                            <p style="height: 70px;">Report shows the average retails of all competitors by grade, their variance to JS and their price range.</p>
                        </div>
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorsPriceRange">Competitors price range</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <a href="~/PriceReports/CompetitorsPriceRangeByCompany">
                        <img src="~/images/report.png" height="50" width="50" />
                        <div class="transbox">
                            <p style="height: 70px;">Report shows the average retails sorted by ownership of all competitors by grade, their variance to JS and their price range.</p>
                        </div>
                    </a>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorsPriceRangeByCompany">Competitors price range by company</a></div>
            </div>
        </div>
    </div>
   
</div>