@{
    ViewBag.Title = "Reports";
}
<style>
    div.transbox {
        background-color: #ffffff;
        opacity: 0.8;
    }

    div.transbox p {
        font-weight: bold;
        color: #000000;
    }

    div.panel-hover:hover {
        box-shadow: 4px 4px 8px #ED8B00;
        cursor: pointer;
        background: #fff8f8;
    }

    .report-blurb {
        height: 100px;
        font-weight: bold;
        margin-top: 1em;
    }

</style>
<h1><i class="fa fa-bar-chart"></i> @ViewBag.Title</h1>
<hr />

<div class="report">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default panel-hover panel-click">
                <div class="panel-body">
                    <img src="~/images/report.png" height="50" width="50" />
                    <div class="report-blurb">Report shows how many and which competitors face JS sites within a 0-30 minute drive time</div>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorSites">Competitor sites</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default panel-hover panel-click">
                <div class="panel-body">
                    <img src="~/images/report.png" height="50" width="50" />
                    <div class="report-blurb">Report identifies the various retail prices of both diesel and unleaded for each brand and provides a market summary of how many brands have sites at each price point.</div>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/PricePoints">Price points</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default panel-hover panel-click">
                <div class="panel-body">
                    <img src="~/images/report.png" height="50" width="50" />
                    <div class="report-blurb">Report shows the average price of diesel and unleaded for all brands and their variance to JS.</div>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/nationalAverage">National average</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default panel-hover panel-click">
                <div class="panel-body">
                    <img src="~/images/report.png" height="50" width="50" />
                    <div class="report-blurb">Report produces the output for the tracking competitor tab in the PPL spreadsheet.</div>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/nationalAverage2">National average 2</a></div>
            </div>
        </div>
    </div>

    <div class="row">
      
          
        <div class="col-md-3">
            <div class="panel panel-default panel-hover panel-click">
                <div class="panel-body">
                    <img src="~/images/report.png" height="50" width="50" />
                    <div class="report-blurb">Tracks retail prices of individual sites over a specified period.</div>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/PriceMovement">Price movements</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default panel-hover panel-click">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <img src="~/images/report.png" height="50" width="50" />
                    <div class="report-blurb">Report checks JS site compliance of fuel price changes from the day prior.</div>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/Compliance">Compliance check</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default panel-hover panel-click">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <img src="~/images/report.png" height="50" width="50" />
                    <div class="report-blurb">Report shows the average retails of all competitors by grade, their variance to JS and their price range.</div>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorsPriceRange">Competitors price range</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default panel-hover panel-click">
                <!--  panel-disabled -->
                <div class="panel-body">
                    <img src="~/images/report.png" height="50" width="50" />
                    <div class="report-blurb">Report shows the average retails sorted by ownership of all competitors by grade, their variance to JS and their price range.</div>
                </div>
                <div class="panel-heading"><a href="~/PriceReports/CompetitorsPriceRangeByCompany">Competitors price range by company</a></div>
            </div>
        </div>
    </div>
   
</div>


<script>
    require(["jquery", "common", "busyloader"],
        function ($, common, busyloader) {
            $(function () {
                $('.panel-click').on('click', function () {
                    var panel = $(this),
                        link = panel.find('a');

                    busyloader.show({
                        message: 'Loading report - this may take a few moments...',
                        showtime: 5000
                    });
                    panel.slideUp(1000);
                    window.location = link.attr('href');
                });
            });
        }
    );
</script>

