@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Petrol Pricing Application Services</h1>
    <p>"Responding to daily market fluctuations"</p></div>
<div class="row">
    <div class="col-md-6">
        <h2>This is the service project</h2>
        <ul>
            <li>File Service</li>
            <li>Email Service</li>
            <li>Service3</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Maintenance</h2>
        <ul>
            <li><a href="#">Site Maintenance</a></li>
            <li><a href="#">Reporting</a></li>
        </ul>
    </div>
</div>
