.infotip {
    background-color: #333;
    border: 3px solid #333;
    border-radius: 6px;
    color: #fff;
    padding: 4px 16px;
    position: absolute;
    text-align: center;
    min-width: 10em;
    max-width: 60em;
    box-shadow: 2px 4px 8px #666;
    font-size: 110%;
    z-index: 4000;
}

.infotip-above::after,
.infotip-below::after {
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    content: "";
    left: 50%;
    margin-left: -10px;
    position: absolute;
    z-index: 4000;
}

.infotip-above::after {
    border-color: #333 transparent transparent transparent;
    top: calc(100% + 2px);
}

.infotip-below::after {
    border-color: transparent transparent #333 transparent;
    bottom: calc(100% + 2px)
}

[data-infotip]:hover {
    cursor: help;
}

.infotip b {
    color: yellow;
    text-shadow: 1px 1px 2px #000;
    letter-spacing: 0.5px;
}
.infotip em {
    color: orange;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.infotip q {
    color: #88ffff;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.infotip q::before,
.infotip q::after {
    content: "";
    display: none;
}

.infotip u {
    color: #ccffcc;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.infotip i {
    color: #ff737f;
    font-style: normal;
    font-weight: bold;
}

.infotip .price-reasons {
    border-top: 1px solid #999;
    margin-top: 1em;
    padding-top: 1em;
    font-size: 75%;
}
    .infotip .price-reasons::before {
        content: "Price Reasons";
        text-transform: uppercase;
        font-variant: small-caps;
        font-style: italic;
        color: #999;
        background: #333;
        position: absolute;
        margin-top: -1.5em;
        width: auto;
        left: calc(50% - 4em);
        padding: 0 1em;
        line-height: 1em;
    }

