.smaller-normal {
    font-size: smaller;
    font-weight: normal;
}

.smaller {
    font-size: smaller;
}

.input-override {
    text-align: center;
    font-size: 125%;
}

input.form-control.invalid {
    border: 1px solid #a94442;
    background-color: #f2dede;
}

.table-responsive {
    overflow-x: hidden;
    width: 100%;
}

.actualdata {
    overflow-y: auto;
    overflow-x: hidden;
}
.actualdata.expanded {
    height: auto;
}
.actualdata.collapsed {
    max-height: 500px;
    padding-bottom: 2em;
}

table.competitorTable td, th {
    padding: 3px 2px;
}

#competitorPricesPopup {
    width: 90%;
    margin: 1em auto 1em auto;
}

#competitorPricesPopupSiteInfo {
    width: 60em;
    margin: 0.5em auto 0 auto;
    background: silver;
    padding: 10px;
    border-radius: 12px 12px 0 0;
}

.compitatorData {
    height: 400px;
    overflow-y: auto;
}

#competitorPricePopupHeader {
    margin-bottom: 2px;
    border: 1px solid #ddd;
}

#competitorPricePopupPrices .competitorTable thead {
    background: #eee;
    border-bottom: 2px solid #fff;
}
#competitorPricePopupPrices .competitorTable thead th {]
    background: #eee;
}

#competitorPricePopupPrices .comp-js-price-diff {
    color: #000;
    font-size: 110%;
    font-weight: bold;
}

#competitorPricePopupPrices .comp-js-price-diff-na {
    font-size: 110%;
    letter-spacing: 1px;
    color: #999;
    font-style: italic;
}

#competitorPricePopupPrices .comp-diff-down {color: red;}
#competitorPricePopupPrices .comp-diff-none {color: #000;}
#competitorPricePopupPrices .comp-diff-up {color: green;}
#competitorPricePopupPrices .comp-diff-na {color: #999;}

#competitorPricePopupPrices .comp-day1-price,
#competitorPricePopupPrices .comp-day2-price {display: inline-block; width: 3em;}

#competitorPricePopupPrices .sainsburys-row {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;

}

#competitorPricePopupHeader th {
    background: #eee;
}

#competitorPricePopupHeader .tblHighlight {
    background: #D0D0D0;
}

span.jsdiff {
    border-radius: 12px;
    background-color: orange;
    color: #000;
    padding: 1px 12px;
}

.competitorTable  .price-na {
    color: #666;
}

.competitorTable th,
.competitorTable td {
    overflow: hidden;
}
table.competitorTable > tbody > .competitor-row  {
    border-top: 1px solid #eee;
    background-color: #ddd;
}
.competitorTable .competitor-row .drive-time-boundary {
    border-top: 2px solid #666;
}

.competitorTable tbody tr.highlight td {
    background-color: orange;
}

.competitorTable .competitor-row:hover {
    background-color: #ffc;
}

.competitorTable .competitor-row .drive-time-miles {
    background-color: #fff;
    border-radius: 4px;
    padding: 0 3px;
    letter-spacing: 1px;
}
.competitorTable .competitor-row.inside-drive-time {
    background: #cceecc;
}

.competitorTable .competitor-row.inside-drive-time .drive-time-miles {
    background: #000;
    color: #fff;
}

#competitorPricesPopup .footer-actions {
    float: left;
}

.price-includes-drive-time {color: #337ab7; font-weight: bold;}

#competitorPricesPopup .show-competitors-including-drive-time .price-excludes-drive-time,
#competitorPricesPopup .show-competitors-excluding-drive-time .price-includes-drive-time {display: none;}

.note-panel {
    background-color: #fff; 
    border-radius: 0 0 12px 12px;
    padding: 2px 12px;
    margin: -3px 2em 0.25em 2em;
    border: 2px solid lightgray;
    border-top: 2px solid #aaa;
    cursor: pointer;
}
.note-panel:hover {
    background-color: #ffc;
    border-color: #999;
}
.note-panel-text {
    font-weight: bold;
}

#competitorNotePopup {
    z-index: 1100;
}
.no-competitors {
    color: #910048;
    font-size: 110%;
    line-height: 2em;
}
.please-wait {
    color: orange;
    font-size: 110%;
    line-height: 2em;
}

.hide {
    display: none;
}

.price-diff-item {
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 4px;
    border-right: 1px dashed #2e6da4;
    display: inline-block;
}
.price-diff-item:last-child {
    border-right: none;
}

.past-override-text {
    display: inline-block;
    width: 3.1em;
    background: #ccc;
    color: #000;
    font-style: italic;
    padding: 0;
    text-align: center;
    border-radius: 4px;
}

#txtOverrideUnleaded,
#txtOverrideDiesel,
#txtOverrideSuperUnleaded
{
    font-family: monospace;
}

.txtPrice {
    padding: 1px 2px;
    font-size: 115%;
    width: 3em;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 2px;
    background-color: #ffe;
}

.txtPrice:hover,
.txtPrice:focus
{
    border-color: black;
    box-shadow: 1px 1px 7px #000;
}

.txtPrice.override-empty {
    border-color: #ccc;
    background-color: #fff;
    color: #999;
}

.txtPrice.override-valid {
    border-color: #4cae4c;
    background-color: #dff0d8;
    color: #000;
}
.txtPrice.override-invalid {
    border-color: #d43f3a;
    background-color:#d9534f;
    color: #fff;
}

.txtPrice.override-increment-exceeds {
    border-color: #910048;
    background-color: #ffc;
    color: #910048;
}

.site-spacer-row {
    height: 4em;
    background: #f8f8f8;
}

.padded-price-right {
    min-width: 3em;
    display: inline-block;
    text-align: right;
}

.past-date {color: #999;}
.yesterday-date {color: #666;}
.today-date {color: #2e6da4;}
.tomorrow-date {color: orange;}
.future-date {color: green;}

.previousDay {
    width: 93px;
}
.currentDay {
    width: 145px;
}

.yesterday-col {
    border-left: 1px solid #ddd;
    width:93px;
    height:45px; 
    padding-right: 2.5em;
    text-align: right;
}

.override-col {
    margin-left: 0; 
    width: 146px;
    height: 45px; 
    padding-left: 4px; 
    padding-right: 4px;
}

.pricing-grid .site-row .col-store-no .row-indicator {
    visibility: hidden;
    float: left;
    margin-top: 4px;
    margin-left: 2px;
}

.pricing-grid .site-row.row-errors .col-store-no .row-indicator {
    visibility: visible;
    color: red;
}

.pricing-grid .site-row.row-override-exceeds-warning-limits .col-store-no .row-indicator {
    visibility: visible;
    color: #910048;
}

.pricing-grid .site-row.focused,
.pricing-grid .site-row.focused:hover {
    background-color: #ffc580;
}
.site-row.focused .site-name {color: #000;}

.site-row:hover .price-na,
.site-row.focused .price-na {color: #666;}

.site-row.viewing-site-competitors {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
}

.row.site.row.row-exceeds-absolutes,
.row.site-row.row-errors {
    background-color: #fcc;
}
.site-row.row-override-exceeds-warning-limits {
    background: #fcf8e3;
}
.site-row.row-override-exceeds-warning-limits td:nth-child(8),
.site-row.row-override-exceeds-warning-limits td:nth-child(9),
.site-row.row-override-exceeds-warning-limits td:nth-child(10),
.site-row.row-override-exceeds-warning-limits td:nth-child(11) {
    background: #dcd8c3;
}

.site-row.has-checked-email {
    background-color: #dfd;
}
.site-row.has-checked-email td:nth-child(8),
.site-row.has-checked-email td:nth-child(9),
.site-row.has-checked-email td:nth-child(10),
.site-row.has-checked-email td:nth-child(11) {
    background-color: #cec;
}
.site-row.no-checked-email {
}

.site-row td {
    border-bottom: 3px solid transparent;
}

.site-row .col-editing {
    border-bottom: 3px solid #000;
    font-weight: bold;
}

.site-row .hide-empty-override .padded-price-right {
    margin-left: 3.3em;
}

.site-row .hide-empty-override .padded-price-right {
    color: #339;
}

.site-row .hide-empty-override input[type='text']{
    visibility: hidden;
    position: absolute;
}

.table-show-edit-overrides  .site-row .col-has-no-override .click-edits-override:hover {
    background-color: #ffc;
    box-shadow: 0 0 2px #000;
}

.table-show-edit-overrides .site-row .col-has-no-override .click-edits-override:hover::after {
    content: "Click to Edit Override";
    position: absolute;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    padding: 2px 1em;
    margin-top: 1.5em;
    margin-left: -6em;
    font-size: 125%;
    z-index: 2000;
    box-shadow: 1px 1px 2px #999;
}

.site-row .col-today span {
    float: left;
}


.pricing-sort-row th {
    text-align: center;
    background-color: #fff;
    color: #eee;
    border-right: 1px solid #eee;
    line-height: 1.25em;
    padding: 0;
    border-top: 1px solid #eee;
}
.pricing-sort-row th:after {
    content: ".";
    color: transparent;
}

.pricing-sort-row:hover th {
    background-color: #eee;
    border-right-color: #666;
    border-top-color: #666;
    color: #666;
}

.pricing-sort-row th:hover {
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

.pricing-sort-row .sort-asc,
.pricing-sort-row .sort-desc {
    background-color: #ccc;
    color: #666;
    border-right: 1px solid #666;
}

.pricing-sort-row .sort-paused {
    background-color: #910048;
    color: #fff;
    border-right: 1px solid #666;
}

.pricing-sort-row .sort-paused::before {
    content: "Paused";
    color: #fff;
    position: absolute;
    margin-left: -1.5em;
}


.pricing-sort-row .unsorted:hover::before,
.pricing-sort-row .sort-asc::before {
    content: "";
    border: 8px solid #000;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    margin-top: -4px;
    margin-left: -8px;
}

.pricing-sort-row .sort-desc::before {
    content: "";
    border: 8px solid #000;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    margin-top: 4px;
    margin-left: -8px;
}

.sorting-pause-message {
    background: #b12068;
    color: #fff;
    padding: 4px 1em;
    border-radius: 4px;
    margin: 4px 1em;
    text-align: center;
    font-size: 110%;
}

.pricing-grid .site-row .price-movement-filter-match {
    background-color: #ffc;
}

.pricing-grid .site-row .inside-price-variance,
.pricing-grid .site-row .outside-price-variance {
    background-color: #ffd77f
}

.pricing-grid .no-nearby-grocer-price,
.pricing-grid .has-nearby-grocer-price,
.pricing-grid .has-nearby-grocer-with-out-price {
    display: inline-block;
    width: 1em;
    visibility: hidden;
}
.pricing-grid .no-nearby-grocer-price {
    text-align: center;
}
table.pricing-grid > tbody > tr.site-row.focused > td:nth-child(8),
table.pricing-grid > tbody > tr.site-row.focused > td:nth-child(9),
table.pricing-grid > tbody > tr.site-row.focused > td:nth-child(10),
.pricing-grid > tbody > .site-row.focused > td:nth-child(11),
table.pricing-grid > tbody > tr.site-row.focused:hover > td:nth-child(8),
table.pricing-grid > tbody > tr.site-row.focused:hover > td:nth-child(9),
table.pricing-grid > tbody > tr.site-row.focused:hover > td:nth-child(10),
.pricing-grid > tbody > .site-row.focused:hover > td:nth-child(11) {
   background-color: #ffa560;
}

.site-row:hover,
.pricing-grid > tbody > .site-row:hover > td:nth-child(8),
.pricing-grid > tbody > .site-row:hover > td:nth-child(9),
.pricing-grid > tbody > .site-row:hover > td:nth-child(10),
.pricing-grid > tbody > .site-row:hover > td:nth-child(11) {
    background-color: #ee9;
}

.pricing-grid > tbody > .site-row.row-errors > td:nth-child(8),
.pricing-grid > tbody > .site-row.row-errors > td:nth-child(9),
.pricing-grid > tbody > .site-row.row-errors > td:nth-child(10),
.pricing-grid > tbody > .site-row.row-errors > td:nth-child(11){
    background-color: #faa;
}

.pricing-grid {
    table-layout: fixed;
    width: 1260px;
    overflow: hidden;
}

.pricing-grid tbody td {padding-top: 4px; padding-bottom: 4px;}

.pricing-grid-header {border-bottom: 4px solid #999;}

.pricing-grid .header-widths {height: 0; line-height: 0;}

/* column widths (header and body) */
.pricing-grid .header-widths th:nth-child(1),
.pricing-grid tbody td:nth-child(1) {width: 64px; text-align: right;} /* store no*/

.pricing-grid .header-widths th:nth-child(2),
.pricing-grid tbody td:nth-child(2) {width: 32px; text-align: center;} /* email */

.pricing-grid .header-widths th:nth-child(3),
.pricing-grid tbody td:nth-child(3) {width: 326px; word-wrap:break-word;} /* store name*/
                                                                                                                                                    
.pricing-grid .header-widths th:nth-child(4),
.pricing-grid tbody td:nth-child(4) {width: 48px; text-align: center; } /* unleaded grocer % */
.pricing-grid tbody td:nth-child(4) {border-left: 1px solid #999;}

.pricing-grid .header-widths th:nth-child(5),
.pricing-grid tbody td:nth-child(5) {width: 64px; text-align: center; color: #999;} /* unleaded today price */
                                                     
.pricing-grid .header-widths th:nth-child(6),
.pricing-grid tbody td:nth-child(6) {width: 106px;} /* unleaded tomorrow price */

.pricing-grid .header-widths th:nth-child(7),
.pricing-grid tbody td:nth-child(7) {width: 64px;} /* unleaded tomorrow +/- */

.pricing-grid .header-widths th:nth-child(8),
.pricing-grid tbody td:nth-child(8) {width: 48px; text-align: center; background: #eee;} /* diesel grocer % */

.pricing-grid .header-widths th:nth-child(9),
.pricing-grid tbody td:nth-child(9) {width: 64px; text-align: center; color: #999; background: #eee;} /* diesel today price */

.pricing-grid .header-widths th:nth-child(10),
.pricing-grid tbody td:nth-child(10) {width: 106px; background: #eee;} /* diesel tomorrow price */

.pricing-grid .header-widths th:nth-child(11),
.pricing-grid tbody td:nth-child(11) {width: 64px; background: #eee;} /* diesel tomorrow +/- */

.pricing-grid .header-widths th:nth-child(12),
.pricing-grid tbody td:nth-child(12) {width: 48px; text-align: center;} /* super-unleaded grocer % */

.pricing-grid .header-widths th:nth-child(13),
.pricing-grid tbody td:nth-child(13) {width: 64px; text-align: center; color: #999;} /* super-unleaded today price*/

.pricing-grid .header-widths th:nth-child(14),
.pricing-grid tbody td:nth-child(14) {width: 106px;} /* super-unleaded tomorrow price */

.pricing-grid .header-widths th:nth-child(15),
.pricing-grid tbody td:nth-child(15) {width: 64px;} /* super-unleaded tomorrow +/- */


.pricing-grid .col-scrollbar {width: auto;}

.pricing-grid thead .col-header-store-no,
.pricing-grid thead .col-header-email,
.pricing-grid thead .col-header-store-name {background: #ccc; text-align: center; border-right: 1px solid #999;}
.pricing-grid thead .col-header-unleaded {text-align: center; border-left: 1px solid #999;}
.pricing-grid thead .col-header-diesel {text-align: center; background: #eee;}
.pricing-grid thead .col-header-super-unleaded {text-align: center;}
.pricing-grid thead .col-header-today-price.col-diesel,
.pricing-grid thead .col-header-tomorrow-price.col-diesel,
.pricing-grid thead .col-header-tomorrow-price-change.col-diesel {background: #eee;}

.pricing-grid thead .col-header-today-price,
.pricing-grid thead .col-header-tomorrow-price,
.pricing-grid thead .col-header-tomorrow-price-change {text-align: center;}

.pricing-grid thead .col-header-grocer-percent { text-align: center; color: #999; font-size: 90%;}

#today1,
#today2,
#today3 {font-size: 90%; color: #999;}

.price-diff-up {color: #5cb85c}
.price-diff-none {color: #999;}
.price-diff-down {color: #910048;}

.price-diff-ignored {color: #999;}

.price-diff {font-family: monospace; font-size: 90%;}

.price-pence {font-size: 115%; letter-spacing: 0px;}
.price-fraction {letter-spacing: 2px; padding-top: 1px;}
.price-na {font-size: 110%; letter-spacing: 1px; color: #ccc; font-style: italic;}

table.pricing-grid > tbody > tr.site-row.row-override-exceeds-warning-limits.focused > td.outside-prices-warning-limits:nth-child(11),
.pricing-grid > tbody > .site-row.row-override-exceeds-warning-limits:hover >td.outside-prices-warning-limits:nth-child(11),
.pricing-grid > tbody > .site-row.row-override-exceeds-warning-limits.focused > td.outside-prices-warning-limits:nth-child(11),
.pricing-grid > tbody > .site-row.row-override-exceeds-warning-limits.focused:hover > td.outside-prices-warning-limits:nth-child(11),
tr.site-row.row-override-exceeds-warning-limits td.outside-prices-warning-limits,
.site-row .outside-prices-warning-limits {
    background-color: #910048;
    color: #fff;
}

.pricing-grid.hide-fuel-price-change-up .col-valid .fuel-price-change-up,
.pricing-grid.hide-fuel-price-change-down .col-valid .fuel-price-change-down,
.pricing-grid.hide-fuel-price-change-none .col-valid .fuel-price-change-none
{
    opacity: 0;
}

.pricing-grid.highlight-trial-prices .trial-price {background-color: #ff8;}
.pricing-grid.highlight-match-competitor-prices .match-competitor-price {background-color: #cff;}
.pricing-grid.highlight-standard-prices .standard-price {background-color: #efa;}
.pricing-grid.highlight-no-nearby-grocer-prices .no-nearby-grocer-price {visibility: visible; background-color: #ffdc9a; color: #000;}
.pricing-grid.highlight-has-nearby-grocer-prices .has-nearby-grocer-price {visibility: visible; background-color: #cfffc8; color: #000;}
.pricing-grid.highlight-has-nearby-grocer-with-out-prices .has-nearby-grocer-with-out-price {visibility: visible; background-color: #ee99ff; color: #000;}

.pricing-grid.show-checked-sites .has-checked-email {}
.pricing-grid.hide-checked-sites .has-checked-email {display: none;}
.pricing-grid.show-unchecked-sites .no-checked-email {}
.pricing-grid.hide-unchecked-sites .no-checked-email {display: none;}

.pricing-grid .range-100 {color: #5cb85c}
.pricing-grid .range-75-to-99,
.pricing-grid .range-50-to-74,
.pricing-grid .range-25-to-49,
.pricing-grid .range-0-to-24 {color: #d9534f;}

#competitorPricePopupPrices .no-nearby-grocer-price {display: inline-block; width: 1em; background-color: #ffdc9a; color: #000;}
#competitorPricePopupPrices .has-nearby-grocer-price {display: inline-block; width: 1em; background-color: #cfffc8; color: #000;}
#competitorPricePopupPrices .has-nearby-grocer-with-out-price {display: inline-block; width: 1em; background-color: #ee99ff; color: #000;}

#competitorPricePopupPrices .hide-competitor-no-price-data .competitor-price-na {opacity: 0;}

#PriceDifferenceBarChart {
    border: 1px solid #999;
    border-radius: 12px 0 12px 12px;
    padding: 8px;
    width: 100%;
    height: 200px;
    color: #666;
    background-color: #f8f8f8;
}

.price-diff-bar-chart-scroller {
    width: 1290px;
    height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
}

.price-diff-bar-chart th {width: 3em; text-align: center;}
.price-diff-bar-chart .bar {display: inline-block; width: 100%; position: absolute; bottom: 0; left: 0; right: 0; border-bottom: 1px solid #ccc;}
.price-diff-bar-chart .bar.lower-price {border-bottom-color:#610018; }
.price-diff-bar-chart .bar.higher-price {border-bottom-color: #449D44;}
.price-diff-bar-chart .bar.same-price {border-bottom-color: #F2A83E;}
.price-diff-bar-chart .bar.na-price {border-bottom-color: #000;}
.price-diff-bar-chart .lower-price {color:#610018; letter-spacing: 1px;}
.price-diff-bar-chart .higher-price {color: #449D44; letter-spacing: 1px;}
.price-diff-bar-chart .same-price {color: #F2A83E; letter-spacing: 1px}
.price-diff-bar-chart .na-price {color: #000; letter-spacing: 1px;}

.price-diff-bar-chart td {position: relative; text-align: center; border-left: 2px solid #fff;}
.price-diff-bar-chart-key {
    font-weight: bold;
    position: relative;
}
    .price-diff-bar-chart-key span {
        position: absolute;
    }

    .price-diff-bar-chart-key .no-price-differences {left: 10%; color: #910048}
    .price-diff-bar-chart-key .lower-price {left: 8%;}
    .price-diff-bar-chart-key .same-price {left: 35%;}
    .price-diff-bar-chart-key .higher-price {left: 57%;}
    .price-diff-bar-chart-key .na-price {left: 82%;}

.price-diff-bar-title {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    color: #666;
    line-height: 2em;
}

.sticky-footer {
    position: fixed;
    bottom: -1em;
    left: 20%;
    right: 20%;
    box-shadow: 1px 2px 6px #000;
}

#PriceDifferencePanel.collapsed {
    display: none;
}

.pricing-filters-row {
    margin-left: 0;
    margin-right: 0;
}

.pricing-filters-row .col-md-1 {
    padding-left: 4px;
    padding-right: 4px;
}

.pricing-filters-row .last-col {
    padding-right: 0;
}

.override-exceeded-bubble {
    font-weight: bold;
    background: #ffc;
    border-radius: 4px;
    border: 1px solid #910048;
    margin-top: 16px;
    position: absolute;
    box-shadow: 1px 1px 4px #000;
    width: 13em;
}
.override-exceeded-bubble::before {
    border-style: solid;
    border-width: 12px;
    content: "";
    position: absolute;
    z-index: 3000;
    border-color: transparent transparent #910048 transparent;
    margin-top: -24px;
    margin-left: 4em;
}

.col-header-tomorrow-unleaded,
.col-header-tomorrow-diesel,
.col-header-tomorrow-super-unleaded {
    color: #5cb85c;
}

.col-store-town {
    font-size: 80%;
}

.site-name-overlay {
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px 6px 8px 6px;
    width: 100%;
    margin-left: 1em;
}
.site-row.focused .site-name-overlay .site-name,
.site-name-overlay .site-name {
    color: #F58220;
    font-weight: bold;
}

.site-name-overlay .hide-hover {display: none; clear: both; margin-top: 4px;}

.site-name-overlay:hover {
    width: 96%;
    background-color: #000;
    color: #fff;
    box-shadow: 2px 4px 6px #999;
    border-radius: 0 0 12px 12px;
    z-index: 2000;
}
.site-name-overlay:hover::before {
    content: '';
    border-color: transparent#000 transparent transparent;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    margin-left: -16px;
    left: -7px;
    top: 0;
}

.site-name-overlay:hover .site-name::before {
    content: "SAINSBURYS";
}

.site-name-overlay:hover .hide-hover {
    display: block;
}
.site-name-overlay .edit-site-link {
    position: absolute;
    right: 1em;
}
.site-name-overlay .competitor-site-link {
    position: absolute;
    right: 8em;
}

.site-name-overlay .site-town {font-weight: bold; display: inline-block; width: 12em;}
.site-name-overlay .site-catno,
.site-name-overlay .site-pfsno,
.site-name-overlay .site-id {font-weight: bold;  display: inline-block; width: 4.5em;}

.site-name-overlay .site-town::before{
    content: "TOWN: ";
    color: #aaa;
    font-variant: small-caps;
    font-weight: normal;
}

.site-name-overlay .site-catno::before {
    content: "CAT: ";
    color: #aaa;
    font-variant: small-caps;
    font-weight: normal;
}
.site-name-overlay .site-pfsno::before {
    content: "PFS: ";
    color: #aaa;
    font-variant: small-caps;
    font-weight: normal;
}

.competitor-fuel-unleaded {
    background-color: #ffc;
}
.competitor-fuel-diesel {
    background-color: #cff;
}
.competitor-fuel-super-unleaded {
    background-color: #fcf;
}

.highlight-email-tokens .token {
    background-color: #f0ad4e; 
    color: #000;
    font-weight: bold; 
    font-family: monospace;
}

.readonly-email-field {
    padding: 1em;
    margin: 4px;
}

.editable-email-field {
    padding: 1em; 
    border: 2px dashed #ccc; 
    border-radius: 12px; 
    margin: 4px;
}

.editable-email-field:hover {
    background-color: #ffc;
    border: 2px dashed #ccc;
}

.editing-email-field {
    border: 2px solid #999;
    padding: 1em;
    margin: 4px;
}

#SiteEmailPopup_EmailBody th, 
#SiteEmailPopup_EmailBody td {
    padding: 2px 4px;
}

#SiteEmailPopup_EmailBody .importance-normal {}
#SiteEmailPopup_EmailBody .importance-info { font-weight: bold; color: green;}
#SiteEmailPopup_EmailBody .importance-warning {font-weight: bold; color: orange;}
#SiteEmailPopup_EmailBody .importance-danger {font-weight: bold; color: red;}


/* move these out of here.... */

.edit-in-place-help {
    border: 2px solid #999;
    border-radius: 0 0 12px 12px;
    box-shadow: 2px 2px #000;
    padding: 0.5em 1em;
    width: 50em;
    z-index: 2100;
    background-color: #fff;
    color: #000;
    position: fixed;
    left: 1em;
    top: -2px;
    box-shadow: 4px 8px 20px #000;
}

.edit-in-place-help .edit-in-place-help-scroller {
    border-top: 2px solid #999;
    max-height: 400px;
    overflow: auto;
}


.edit-in-place-help table {
    width: 98%;
    margin: 4px;
    border: 1px solid #999;
}
.edit-in-place-help th {
    text-align: center;
    line-height: 1.75em;
    background-color: #eee;
}
.edit-in-place-help td {
    padding: 2px 0.5em;
}
.edit-in-place-help td:nth-child(1) {
    text-align: center;
}

.edit-in-place-help dd {
    margin: 1px 1px 1px 2em;
}
.edit-in-place-help section {
    border-bottom: 1px dashed #000;
    padding-bottom: 2em;
    margin-top: 2em;
}

    .edit-in-place-help h4 {
        color: #3c983c;
        font-weight: bold;
        border-left: 8px solid #ccc;
        padding-left: 0.5em;
    }

.bootbox.modal {
    z-index: 5000;
}


.override-header {
    background-color: #f0f0f0;
    padding: 4px 2px;
}

.historical-banner {
    background-color:#f0ad4e;
    color: #fff;
    margin: 0.5em;
    padding: 0.25em 2em;
    border-radius: 8px;
}

.grocer-brand {
    background: #fff;
    color: #135a97;
    font-weight: bold;
    padding: 1px 2px;
}
.non-grocer-brand {
    color: #333;
    padding: 1px 2px;
}


.stat-row {
    padding: 4px 0 4px 4px;
}

.stat-group {
    border: 2px solid #aaa;
    border-radius: 12px;
    padding: 2px 8px;
    margin: 2px 4px;
    text-align: center;
    background-color: #fff;
}

.stat {
    position: relative;
    display: inline-block;
    float: left;
    background: #eee;
    color: #000;
    text-align: center;
    padding: 2px;
    font-size: 110%;
    line-height: 1em;
    min-width: 4.2em;
    border-left: 4px solid #fff;
}

.stat-price {
    padding-left: 1em;
}

.stat-price::before {
    content: '£';
    font-size: 150%;
    color: #000;
    position: absolute;
    top: 6px;
    left: 4px;
    color: #999;
}

.stat-group-inline {
    display: inline-block;
}

.stat-value {
    letter-spacing: 1px;
}

.stat-label {
    font-variant: small-caps;
    text-transform: lowercase;
    color: #999;
}

.stat-group-combined::before,
.stat-group-unleaded::before,
.stat-group-diesel::before,
.stat-group-super-unleaded::before {
    width: calc(100% + 8px);
    display: block;
    border-radius: 10px 10px 0 0;
    font-size: 125%;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2em;
    position: relative;
    font-style: italic;
    left: -4px;
    top: 2px;
}

.stat-group-combined::before {
    content: 'All Fuel Grades';
    background-color: #f0ad4e;
    color: #fff;
}

.stat-group-unleaded::before {
    content: 'Unleaded';
    background-color: #5cb85c;
    color: #fff;
}

.stat-group-diesel::before {
    content: 'Diesel';
    background-color: #000;
    color: #fff;
}

.stat-group-super-unleaded::before {
    content: 'Super-Unleaded';
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.stat-group-title {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 110%;
    line-height: 2.5em;
    padding: 1px 8px;
}

.stat-section {
    margin: 8px 4px;
    padding: 2px;
    position: relative;
}
.stat-section.stat-section-tomorrow,
.stat-section.stat-section-today {
    margin-left: 2em;
}

.stat-section-tomorrow::before,
.stat-section-today::before {
    position: absolute;
    font-weight: bold;
    font-size: 125%;
    font-variant: small-caps;
    text-transform: lowercase;
    line-height: 1.75em;
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(90deg) scale(-1, -1) translate(-100%, -1.75em);
}

.stat-section-tomorrow::before {
    content: "Tomorrow";
    background: #e0ffe0;
    color: #5cb85c;
    width: 75%;
}

.stat-section-today::before {
    content: "Today";
    background: #eee;
    color: #999;
    width: 40%;
}

.stat-section-tomorrow .stat {
    background: #e0ffe0;
    color: #666;
}

.stat-section-divider {
    border-top: 2px dashed #999;
    height: 2px;
    width: 100%;
    display: block;
    margin: 4px;
}

.price-change-tab,
.summary-tab {
    border: 1px solid #999;
    border-radius: 12px 0 12px 12px;
    background-color: #f8f8f8;
    padding: 8px;
    margin-bottom: 1em;
}

.text-tomorrow {color: #000;}
.text-today {color: #999;}

.no-daily-price-file-icon {
    border: 1px dashed #910048;
    width: 3em;
    text-align: center;
}

.latest-js-price-file-icon {
    margin-left: 4px; 
    border: 1px dashed #999;
    display: inline-block;
    width: 3em;
    text-align: center;
}

/* excluded brands */
.excluded-brands-status {
    margin-left: 1em;
    padding: 1px 1em;
    text-align: left;
    position: relative;
    display: inline-block;
}

.excluded-brands-status.status-saved::before,
.excluded-brands-status.status-saving::before,
.excluded-brands-status.status-unsaved::before,
.excluded-brands-status.status-error::before {
    content: "";
    position: absolute;
    border-width: 0.75em;
    border-style: solid;
    margin-left: -2.45em;
}

.status-saved::before {
    border-right-color: #5cb85c;
}
.excluded-brands-status.status-saved {
    background-color: #5cb85c;
    color: #fff;
}

.status-unsaved::before {
    border-right-color: #f0ad4e;
}
.excluded-brands-status.status-unsaved {
    background-color: #f0ad4e;
    color: #fff;
}

.status-saving::before {
    border-right-color: #5bc0de;
}
.excluded-brands-status.status-saving {
    background-color: #5bc0de;
    color: #fff;
}

.status-error::before {
    border-right-color:  #d9534f;
}
.excluded-brands-status.status-error {
    background-color: #d9534f;
    color: #fff;
}

.fullscreen-dull {
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background: rgba(0,0,0,0.5); 
    z-index: 2000;
}

.loading-indicator {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    margin-top: -6em; 
    margin-left: -25em; 
    width: 50em; 
    background: #fff; 
    border: 4px solid #000; 
    border-radius: 12px; 
    padding: 2em; 
    z-index: 2050; 
    box-shadow: 0 0 10px #000;
}

/* price change bar chart */
.price-change-bar-chart {}
.price-change-bar-chart table td {text-align: center; width: 3.5em; padding: 1px 4px; position: relative; border-left: 1px solid #999;}
.price-change-bar-chart .bar {border-bottom-style: solid; width: 2em; position: absolute; bottom: 0; left: 2px;}
.price-change-bar-chart .bar.bar-up {border-bottom-color: green;}
.price-change-bar-chart .bar.bar-none {border-bottom-color: #999;}
.price-change-bar-chart .bar.bar-down {border-bottom-color: red;}

.price-change-bar-chart .key {font-weight: bold;}
.price-change-bar-chart .key.key-up,
.price-change-bar-chart .title.title-up {color: green;}
.price-change-bar-chart .key.key-none,
.price-change-bar-chart .title.title-none {color: #999;}
.price-change-bar-chart .key.key-down,
.price-change-bar-chart .title.title-down {color: red;}

.price-change-bar-chart-scroller {
    width: 1080px;
    height: 140px;
    overflow: auto;
}

.price-change-bar-chart .title {
    display: inline-block; 
    font-weight: bold; 
    font-size: 110%; 
    margin-left: 8em; 
}

.price-change-bar-chart .bar-row {height: 96px;}

.price-change-table table {border: 4px solid #999;}

.price-change-table table > tbody > td {text-align: center;}
.price-change-table table > tbody > tr:nth-child(odd) {background: #fff;}
.price-change-table table > tbody > tr:nth-child(even) {background: #f8f8f8;}

.price-change-tags .tag {display: inline-block; padding: 2px 4px; width: 6em; border: 1px solid #999; text-align: center;}
    .price-change-table .price-change-down,
    .price-change-tags .tag.tag-down {color: #910048; background: #f2dede;}
    .price-change-table .price-change-none,
    .price-change-tags .tag.tag-none {color: #999; background: #eee;}
    .price-change-table .price-change-up,
    .price-change-tags .tag.tag-up {color: #3c983c; background: #dff0d8;}

/* end of file */


.back-success {color: #3c763d; background-color: #dff0d8;}
.back-info {color: #31708f; background-color: #d9edf7; }
.back-warning {color: #8a6d3b; background-color: #fcf8e3;}
.back-danger {color: #a94442; background-color: #f2dede;}


optgroup {
    font-weight: bold;
    color: #666;
    background-color: #ccc;
    border-radius: 8px;
}

optgroup > option {
    color: black;
    background-color: #fff;
}
