@model string
@{
    ViewBag.Title = "ReInitDb";
}

<h2>ReInitDb</h2>
Result = @ViewBag.Message
<pre>
<a href="Admin/ReInitDb?option=FULLREBUILD">** Full Wipe and Rebuild (CAUTION: this will remove all uploads, pricing data and site data leaving 2-3 hardcoded ones)</a>
<a href="Admin/ReInitDb?option=CONFIGKEYSONLY">Wipe and Repopulate config keys</a>
<a href="Admin/ReInitDb?option=SPROCSONLY">Wipe and Recreate sprocs</a>
<a href="Admin/ReInitDb?option=INDEXESONLY">Wipe and Recreate indexes</a>
</pre>