@{
    ViewBag.Title = "Contact Product Owner";
}
<div>
    <h1><i class="fa fa-at"></i> @ViewBag.Title</h1>
    <hr />
    <address>
        Sainsburys Plc<br />
        33 Holborn, London, EC1N 2HT<br />
        <abbr title="Phone">P:</abbr>
        0207 69 52704
    </address>

    <address>
        <strong>Product owner:</strong>   <a href="mailto:Izzy.Hexter@sainsburys.co.uk">Izzy.Hexter@sainsburys.co.uk</a><br />
    </address>
</div>