@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sainsburys Plc<br />
    33 Holborn, London, EC1N 2HT<br />
    <abbr title="Phone">P:</abbr>
    0207 69 52704
</address>

<address>
    <strong>Owner:</strong>   <a href="mailto:Izzy.Hexter@sainsburys.co.uk">Izzy.Hexter@sainsburys.co.uk</a><br />
</address>