@{
    ViewBag.Title = "Sainsbury's Petrol Pricing";
}

<div class="jumbotron">
    <h1 class="site-hero-text"><i class="fa fa-bar-chart-o"></i> Sainsbury's Petrol Pricing</h1>
    <p class="lead">Responding to daily market fluctuations</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>This application allows users to:</h2>
        <ul>
            <li>Compute & adjust daily fuel prices for Sainsburys' fuel stations</li>
            <li>Perform market comparison on fuel prices</li>
            <li>Track fuel price movement</li>
            <li>Report on fuel prices</li>
            <li>Maintain records of sites (own and competitors)</li>
        </ul>
    </div>
</div>