@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>

<div class="report">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/reports/CompetitorSites">Competitor Sites</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default panel-disabled">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="#">Price Points</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default panel-disabled">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="#">National Average</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default panel-disabled">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="#">Compliance Check</a></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default panel-disabled">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="/reports/CompetitorSites">Price Movements</a></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default panel-disabled">
                <div class="panel-body">
                    <img src="~/images/report.png" />
                </div>
                <div class="panel-heading"><a href="#">Weekly, Daily, Monthly</a></div>
            </div>
        </div>
    </div>

</div>