@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.PricePointReportContainerViewModel

<h2>Report - View Number Of Sites At Each Price Point</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <div class="form-group">
            <label>When:</label>&nbsp;
            
        </div>
    </div>
}

@foreach (var report in Model.PricePointReports)
{
    <h2>@report.FuelTypeName</h2>
}