@using JsPlc.Ssc.PetrolPricing.Models
@model JsPlc.Ssc.PetrolPricing.Models.SiteViewModel

<div class="modal fade" id="competitorPricesPopup" tabindex="-1" role="dialog" aria-labelledby="competitorPricesPopupLabel">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="competitorPricesPopupLabel"><i class="fa fa-credit-card"></i> <span id="competitorPricePopupStoreName"></span> - Competitor Prices &mdash; Showing: <span id="competitorPricePopupVisibleCount">0</span> of <span id="competitorPricePopupTotalCount">0</span>
            
            <span class="decimal-rounding" data-bind="text: $root.formattedDecimalRounding()" data-infotip-dock="below" data-infotip="This can be changed in the [b]Settings page[/b]"></span>
            <span class="price-variance" data-bind="text: $root.PriceChangeVariance()" data-infotip-dock="below" data-infotip="This can be changed in the [b]Settings page[/b]"></span>
            
            </h4>
        </div>
        <div class="modal-body">

            <div class="text-center text-bold" style="position: absolute; left: 2em;">
                <span>Viewing Date</span><br />
                <span class="chosen-date font150pc"></span>
            </div>

            <div class="btn-group" style="position: absolute; right: 2em;">
                <button id="btnMinimiseModal" type="button" class="btn btn-default" data-infotip="Hide the Competitor Prices"><i class="fa fa-compress"></i> Hide</button>
                <button id="btnMaximiseModal" type="button" class="btn btn-primary" data-infotip="Show the Competitor Prices"><i class="fa fa-expand"></i> Show</button>
            </div>

            <table id="competitorPricesPopupSiteInfo">
                <thead>
                    <tr>
                        <th>Store No.</th>
                        <th class="leftDivider">Store Name</th>
                        <th class="leftDivider">Store Town</th>
                        <th class="leftDivider">Cat No.</th>
                        <th class="leftDivider">PFS No.</th>
                    </tr>
                    <tr>
                        <th class="text-center"><big class="storeNumber">--</big></th>
                        <th class="text-center leftDivider"><big class="storeName">--</big></th>
                        <th class="text-center leftDivider"><big class="storeTown">--</big></th>
                        <th class="text-center leftDivider"><big class="catNo">--</big></th>
                        <th class="text-center leftDivider"><big class="pfsNo">--</big></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- start loader -->
            <div id="competitorPricePopupLoading" class="alert alert-warning busy-loader">
                <div class="col-md-1 text-center">
                    <i class="fa fa-clock-o fa-2x spinner"></i>
                </div>
                <div class="col-md-10 text-center">
                    <strong>Loading Competitor Prices. Please wait...</strong>
                </div>
            </div>
            <!-- end loader-->
            <!-- start competitor header -->
            <table id="competitorPricePopupHeader"></table>
            <!-- end competitor header -->
            <!-- start competitor table -->
            <div id="competitorPricePopupPrices"></div>
            <!-- end competitor table -->
        </div>
        <div class="modal-footer">
            <div class="footer-actions font75pc">
                <div class="btn-group" data-toggle="buttons-radio">
                    <button id="competitorPricesShowAllNotesButton" class="btn btn-sm btn-default" data-infotip="Show all notes"><i class="fa fa-pencil-square-o"></i> Show notes</button>
                    <button id="competitorPricesHideAllNotesButton" class="btn btn-sm btn-default" data-infotip="Hide all notes"><i class="fa fa-pencil-square-o"></i> Hide notes</button>
                </div>

                <label style="margin-left: 1em;">Show:</label>
                <div class="btn-group" data-total="buttons-radio">
                    <button type="button" id="competitorPricesToggleGrocersButton" class="btn btn-sm btn-default" data-infotip="Toggle highlight for [b]Grocers[/b]"><i class="fa fa-shopping-cart"></i> Grocers</button>
                    <button type="button" id="competitorPricesToggleNonGrocersButton" class="btn btn-sm btn-default" data-infotip="Toggle highlight for [b]Non-Grocers[/b]"><i class="fa fa-minus-circle"></i> Non-Grocers</button>
                    <button type="button" id="competitorPricesResetFilters" class="btn btn-sm btn-warning" data-infotip="Reset the Filters (show all)"><i class="fa fa-power-off"></i></button>
                </div>

                <label style="margin-left: 1em;"><span class="badge" data-bind="text: $root.MaxGrocerDriveTime()"></span> min Drive-Time:</label>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" id="competitorPricesToggleInsideButton" class="btn btn-sm btn-primary" data-bind="attr: {'data-infotip': ('Show or Hide Grocers [b]Inside[/b] a Drive Time of [b]' + $root.maxGrocerDriveTimeMinutes() + ' minutes[/b]')}"><i class="fa fa-rss-square"></i> Inside</button>
                    <button type="button" id="competitorPricesToggleOutsideButton" class="btn btn-sm btn-default" data-bind="attr: {'data-infotip': ('Show or Hide Grocers [b]Outside[/b] a Drive Time of [b]' + $root.maxGrocerDriveTimeMinutes() + ' minutes[/b]')}"><i class="fa fa-square-o"></i> Outside</button>
                    <button type="button" id="competitorPricesResetDriveTimeFilters" class="btn btn-sm btn-warning" data-infotip="Reset the Drive-Time Filters"><i class="fa fa-power-off"></i></button>
                </div>

                <label style="margin-left: 2em;"><i class="fa fa-gbp"></i> + Drive Time</label>
                <div class="btn-group">
                    <button type="button" id="competitorPriceExcludeDriveTime" class="btn btn-sm" data-infotip="Show Competitor Prices[br /][b]Excluding[/b] Drive Time Markup"><i class="fa fa-minus-square"></i> Exclude</button>
                    <button type="button" id="competitorPriceIncludeDriveTime" class="btn btn-sm" data-infotip="Show Competitor Prices[br /][b]Including[/b] Drive Time Markup"><i class="fa fa-plus-square"></i> Include</button>
                </div>

                <label style="margin-left: 1em;">No Prices:</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm" data-bind="click: $root.showCompetitorNoPriceData, css: ($root.isShowingCompetitorNoPriceData() ? 'btn-primary' : 'btn-default')" data-infotip=""><i class="fa fa-eye"></i> Show</button>
                    <button type="button" class="btn btn-sm" data-bind="click: $root.hideCompetitorNoPriceData, css: (!$root.isShowingCompetitorNoPriceData() ? 'btn-primary' : 'btn-default')" data-infotip=""><i class="fa fa-times"></i> Hide</button>
                </div>

            </div>

            <button type="button" id="competitorPricePopupCloseButton" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
        </div>
    </div>
</div>

