@using JsPlc.Ssc.PetrolPricing.Models
@model JsPlc.Ssc.PetrolPricing.Models.SiteViewModel


<div data-bind="with: $root.dataModel, visible: !$root.busyLoadingData()">
    <!-- ko foreach: sites -->

    <!-- ko if: SiteId == $root.viewingCompetitorSiteId() -->

    <div data-bind="attr:{id: ('AjaxCollapseCompetitorsforsite' + SiteId)}" onclick="IsSitePriceFormClicked=1;" class="panel-collapse collapse" role="tabpanel" style="background-color: grey">
        <div class="compitatorData">
            <table class="competitorTable table-striped table-hover full-width">
                <colgroup>
                    <col width="10%" />
                    <col width="5%" />
                    <col width="20%" />
                    <col width="4%" />
                    <col width="4%" />
                    @*<col width="4%" />*@

                    <col width="5%" />
                    <col width="10%" />
                    <col width="4%" />

                    <col width="5%" />
                    <col width="10%" />
                    <col width="4%" />

                    <col width="5%" />
                    <col width="10%" />
                    <col width="4%" />
                </colgroup>

                <thead>
                    <tr>
                        <th colspan="5"></th>

                        <th class="text-center comp-js-today-date" data-bind="text: $root.todayDate()" data-infotip="[b]Today[/b]"></th>
                        <th class="text-center comp-js-tomorrow-date font125pc" data-bind="text: $root.tomorrowDate()" data-infotip="[b]Tomorrow[/b]"></th>
                        <th></th>
                        <th class="text-center comp-js-today-date" data-bind="text: $root.todayDate()" data-infotip="[b]Today[/b]"></th>
                        <th class="text-center comp-js-tomorrow-date font125pc" data-bind="text: $root.tomorrowDate()" data-infotip="[b]Tomorrow[/b]"></th>
                        <th></th>
                        <th class="text-center comp-js-today-date" data-bind="text: $root.todayDate()" data-infotip="[b]Today[/b]"></th>
                        <th class="text-center comp-js-tomorrow-date font125pc" data-bind="text: $root.tomorrowDate()" data-infotip="[b]Tomorrow[/b]"></th>
                        <th></th>
                    </tr>

                    <tr class="sainsburys-row">
                        <th colspan="5" class="text-right" style="color: #ED8B00;">
                            <div class="price-match-info"></div>
                            <big class="storeName"></big>&nbsp;
                        </th>

                        <th class="readonlyUnleadedYesterday tblHighlight text-center">-</th>
                        <th class="readonlyUnleadedToday tblHighlight text-center">-</th>
                        <th class="readonlyUnleadedTodayPriceChange tblHighlight text-center">-</th>

                        <th class="readonlyDieselYesterday text-center">-</th>
                        <th class="readonlyDieselToday text-center">-</th>
                        <th class="readonlyDieselTodayPriceChange text-center">-</th>

                        <th class="readonlySuperUnleadedYesterday tblHighlight text-center">-</th>
                        <th class="readonlySuperUnleadedToday tblHighlight text-center">-</th>
                        <th class="readonlySuperUnleadedTodayPriceChange tblHighlight text-center">-</th>
                    </tr>

                    <tr>
                        <th class="num1">
                            <input type="text" class="form-control" data-click="competitorSearchBrand" data-infotip="Enter a [b]Brand[/b] Name or part of it" />
                        </th>
                        <th class="num2">
                            <button type="button" data-click="competitorSearchBrandClear" class="btn btn-warning btn-sm" data-infotip="Clear the [b]Brand[/b] search"><i class="fa fa-eraser"></i></button>
                        </th>
                        <th class="num3">
                            <input type="text" class="form-control" data-click="competitorSearchStoreName" data-infotip="Enter a [b]Competitor[/b] Name or part of it" />
                        </th>
                        <th class="num4">
                            <button type="button" data-click="competitorSearchStoreNameClear" class="btn btn-warning btn-sm" data-infotip="Clear the [b]Competitor[/b] search"><i class="fa fa-eraser"></i></button>
                        </th>
                        <th class="num5"></th>

                        <th colspan="3" class="tblHighlight text-center dividerLeft">
                            <h4>
                                <span class="fuel-sign fuel-sign-unleaded"></span>
                                <span class="fuel-markup fuel-markup-unleaded" data-infotip="Any markup from a [br /][b]Match Competitor[/b] or [b]Trial Price[/b][br /] [em]Price Match Strategy[/em]"></span>
                            </h4>
                        </th>
                        <th colspan="3" class="text-center dividerLeft">
                            <h4>
                                <span class="fuel-sign fuel-sign-diesel"></span>
                                <span class="fuel-markup fuel-markup-diesel" data-infotip="Any markup from a [br /][b]Match Competitor[/b] or [b]Trial Price[/b][br /] [em]Price Match Strategy[/em]"></span>
                            </h4>
                        </th>
                        <th colspan="3" class="tblHighlight text-center dividerLeft">
                            <h4>
                                <span class="fuel-sign fuel-sign-super-unleaded"></span>
                                <span class="fuel-markup fuel-markup-super-unleaded" data-infotip="Any markup from a [br /][b]Match Competitor[/b] or [b]Trial Price[/b][br /] [em]Price Match Strategy[/em]"></span>
                            </h4>
                        </th>
                    </tr>
                    <tr>
                        <th class="num1"><span>Brand</span></th>
                        <th class="num2"><span>Notes</span></th>
                        <th class="num3"><span>Competitor (Marker)</span></th>
                        <th class="num4"><span>Drive-Time</span></th>
                        <th class="num5"><span>Cat No.</span></th>

                        <th class="num6 tblHighlight text-center">Day -2<br /><span class="compyday">Yesterday</span></th>
                        <th class="num7 tblHighlight text-center">Day -1<br /><span class="comptoday">Today</span></th>
                        <th class="num8 tblHighlight text-center"><span class="jsdiff">JS_Diff</span></th>

                        <th class="num9 text-center">Day -2<br /><span class="compyday">Yesterday</span></th>
                        <th class="num10 text-center">Day -1<br /><span class="comptoday">Today</span></th>
                        <th class="num11 text-center"><span class="jsdiff">JS_Diff</span></th>

                        <th class="num12 tblHighlight text-center">Day -2<br /><span class="compyday">Yesterday</span></th>
                        <th class="num13 tblHighlight text-center">Day -1<br /><span class="comptoday">Today</span></th>
                        <th class="num14 tblHighlight text-center"><span class="jsdiff">JS_Diff</span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko if: loadingCompetitors() -->
                    <tr>
                        <td colspan="14" class="noSiteData text-center"><span class="please-wait"><i class="fa fa-clock-o spinner"></i> Loading... Please wait</span></td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko if: !loadingCompetitors() -->
                    <!-- ko if: !hasCompetitors() -->
                    <tr>
                        <td colspan="14" class="noSiteData text-center"><span class="no-competitors"><i class="fa fa-info-circle"></i> Sorry, no competitors available</span></td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko if: hasCompetitors() -->
                    <!-- ko foreach: competitors -->
                    <tr class="competitor-row hoverable" data-bind="attr:{id:'CompetitorSiteRow_' + SiteId}, css: ((IsGrocer ? 'competitor-grocer' : 'competitor-non-grocer') + (DriveTime < $root.maxGrocerDriveTimeMinutes() ? ' inside-drive-time' : ' outside-drive-time')
                            + (Brand == 'SAINSBURYS' ? ' comp-sainsburys-row' : ' comp-non-sainsburys-row')
                            + (IsExcludedBrand ? ' excluded-brand' : ' included-brand')
                            + (IsExcluded ? ' excluded-comp' : ' included-comp')
                            + (IsActive ? ' active-comp' : ' inactive-comp'))">
                        <td class="num1">
                            <!-- ko if: IsGrocer -->
                                <!-- ko if:IsExcludedBrand -->
                                <div class="grocer-brand grocer-brand-excluded" data-infotip="Grocer [i]Brand Excluded[/i]">
                                    <i class="fa fa-times"></i>
                                    <span class="comp-brand-name" data-bind="text: Brand"></span>
                                </div>
                                <!-- /ko -->
                                <!-- ko if:!IsExcludedBrand -->
                                <div class="grocer-brand" data-infotip="Grocer">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="comp-brand-name" data-bind="text: Brand"></span>
                                </div>
                                <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: !IsGrocer-->
                            <div class="non-grocer-brand">
                                <i class="fa fa-minus-circle"></i>
                                <span class="comp-brand-name" data-bind="text: Brand"></span>
                            </div>
                            <!-- /ko -->
                        </td>
                        <td class="num2">
                            <button type="button" class="btn btn-default btn-xs triggerEditSiteNote" data-bind="attr:{id: 'EditSiteNoteButton_' + SiteId}" data-infotip="Create or edit note"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-default btn-xs triggerToggleNote" data-bind="attr:{id: 'ToggleSiteNoteButton_' + SiteId}" data-infotip="Show Note"><i class="fa fa-sort-up"></i></button>
                        </td>
                        <td class="num3">
                            <span class="comp-store-name" data-bind="text: StoreName"></span>
                            <i class="fa fa-warning text-danger" data-bind="visible: IsExcludedBrand" data-infotip="[i]Excluded Brand[/i]"></i>
                            <i class="fa fa-credit-card text-danger" data-bind="visible: IsExcluded" data-infotip="Competitor is [i]Excluded by Site[/i]"></i>
                            <i class="fa fa-minus-square-o text-danger" data-bind="visible: !IsActive" data-infotip="Competitor is [i]Inactive[/i]"></i>
                        </td>
                        <td class="num4"><b class="drive-time-miles"><span data-bind="text: DriveTime.toFixed(2), attr: {'data-infotip': 'Drive Time of [b]' + DriveTime + '[/b] Minutes [br /] [q]Unleaded:[/q] [b]+' + DrivePenceForUnleaded + 'p[/b] &mdash; [q]Diesel:[/q] [b]+' + DrivePenceForDiesel + 'p[/b] &mdash; [q]Super-Unleaded:[/q] [b]+' + DrivePenceForSuperUnleaded + 'p[/b]'}"></span></b></td>
                        <td class="num5"><span data-bind="text: CatNo, attr: {'data-infotip': 'Catalist Number: [b]' + CatNo + '[/b]'}"></span></td>

                        <!-- ko foreach: FuelPricesToDisplay -->
                        <!-- ko if: siteSupportsFuel -->
                        <td style="border-left: 2px solid #666" class="text-center" data-bind="css: (competitorDay2UnleadedCellCss())" >
                            <span class="comp-day1-price price-excludes-drive-time" data-bind="html: FuelPrice.ForecourtYestPriceHtml(), attr: {'data-infotip': FuelPrice.YestPriceInfotip()}"></span>
                            <span class="comp-day1-price price-includes-drive-time" data-bind="html: FuelPrice.CompDay2YestPriceIncDriveTimePriceHtml(), attr: {'data-infotip': FuelPrice.YestPriceInfotip()}"></span>
                        </td>
                        <td style="border-left: 1px solid #ccc;" data-bind="css: (competitorDay1UnleadedCellCss())">
                            <div >
                                <span class="comp-day2-price price-excludes-drive-time" data-bind="html: FuelPrice.ForecourtTodayPriceHtml(), attr: {'data-infotip': FuelPrice.CompTodayPriceInfotip()}"></span>
                                <span class="comp-day2-price price-includes-drive-time" data-bind="html: FuelPrice.CompDay1PriceIncDriveTimePriceHtml(), attr: {'data-infotip': FuelPrice.CompTodayPriceInfotip()}"></span>

                                <i data-bind="attr: {class: (FuelPrice.Difference ==0 || FuelPrice.Difference == '-' ) ? 'fa fa-arrow-right' : (FuelPrice.Difference <= 0.1) ? 'fa fa-arrow-down': 'fa fa-arrow-up', style: (FuelPrice.Difference == 0 || FuelPrice.Difference == '-') ? 'color: grey' : (FuelPrice.Difference <= 0.1) ? 'color: red': 'color: green', }"></i>
                                &nbsp;<span data-bind="text: (FuelPrice.Difference == 0 || FuelPrice.Difference == '-') ? '-' : (FuelPrice.Difference/10)"></span>
                            </div>
                        </td>
                        <td style="border-left: 1px solid #ccc;" class="text-center" data-bind="class: (FuelPrice.FuelTypeId==2 ? 'diesel-fuel' : ''), css: (isDriveTimeBoundary() ? ' drive-time-boundary' : '')">
                            <div data-bind="html: competitorPriceDiffHtml()"></div>
                        </td>
                        <!-- /ko -->
                        <!-- ko if: !siteSupportsFuel -->
                        <td style="border-left: 2px solid #666" colspan="3" data-bind="css: (isDriveTimeBoundary() ? 'drive-time-boundary' : '')">n/a</td>
                        <!-- /ko -->
                        <!-- /ko -->
                    </tr>
                    <tr class="note-row" data-bind="attr:{id:'CompetitorNote_' + SiteId}">
                        <td colspan="15">
                            <div class="note-panel">
                                <p class="note-panel-text" data-bind="formatSiteNote: Notes" data-infotip="Click to edit"></p>
                            </div>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- /ko -->
    <!-- /ko -->
</div>
