@using JsPlc.Ssc.PetrolPricing.Models
@model JsPlc.Ssc.PetrolPricing.Models.SiteViewModel
<!--
<div class="modal fade" id="emailAllSites" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-bind="with: emailAllPopupSiteItemModel, visible: showEmailAllPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send Email to ALL Sites</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to email <strong>ALL</strong> Sites their daily price update?</p>
                <h5 style="color: red" data-bind="visible: pageHasUnsavedChanges">
                    The prices shown on screen are still UNSAVED.
                    The emails will NOT be sent with these unsaved prices.
                    If you wish to send these prices, please close this popup and click "Save Prices" first.
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: emailAllCloseClick">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: emailAllClick">Email All Sites</button>
            </div>
        </div>
    </div>
</div>

-->