@{
    Layout = null;
}

<div>
    <div class="stat-group stat-group-inline" style="position: relative; top: -7em;">
        <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_Sites_Count()" data-infotip="Number of [b]Sainsburys[/b] Sites"></span> Sainsburys sites</div>

        <div class="stat" data-infotip-dock="below" data-infotip="Number of [b]Active[/b] Sainsburys sites">
            <div class="stat-value" data-bind="text: $root.stats_Sites_Active()">-</div>
            <div class="stat-label">Active</div>
        </div>

        <div class="stat" data-infotip-dock="below" data-infotip="Number of [q]Sainsbury's[/q] sites [br /]with 1 or more [b]Email addresses[/b]">
            <div class="stat-value" data-bind="text: $root.stats_Sites_WithEmails()">-</div>
            <div class="stat-label">Emails</div>
        </div>

        <div class="stat" data-infotip-dock="below" data-infotip="Total number of [q]Sainsbury's[/q] sites [br /]with [i]No[/i] Email addresses">
            <div class="stat-value" data-bind="text: $root.stats_Sites_WithNoEmails()">-</div>
            <div class="stat-label">No Emails</div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="stat-group stat-group-inline stat-group-combined">

        <section class="stat-section stat-section-tomorrow">
            <div class="stat-group-title text-tomorrow"><span class="badge badge-md" data-bind="text: $root.stats_Combined_Tomorrow_Prices_Count()" data-infotip="Total number of [i]All[/i] Fuels"></span> Tomorrow Prices</div>

            <div class="stat-row">
                <div class="stat stat-price" data-infotip-dock="below" data-infotip="[b]Minimum[/b] Price for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Tomorrow_Prices_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="below" data-infotip="[b]Average[/b] Price for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Tomorrow_Prices_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="below" data-infotip="[b]Maximum[/b] Price for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Tomorrow_Prices_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>

            <div class="stat-group-title text-tomorrow"><span class="badge badge-md" data-bind="text: $root.stats_Combined_Tomorrow_PriceChanges_Count()" data-infotip="Total number of [b]Price Changes[/b]"></span> Tomorrow <big class="font150pc">+/-</big> </div>

            <div class="stat-row">
                <div class="stat" data-infotip-dock="below" data-infotip="[b]Minimum[/b] Price Change for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Tomorrow_PriceChanges_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat" data-infotip-dock="below" data-infotip="[b]Average[/b] Price Change for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Tomorrow_PriceChanges_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat" data-infotip-dock="below" data-infotip="[b]Maximum[/b] Price Change for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Tomorrow_PriceChanges_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>

        <hr class="stat-section-divider" />

        <section class="stat-section stat-section-today">
            <div class="stat-group-title text-today"><span class="badge badge-md" data-bind="text: $root.stats_Combined_Today_Prices_Count()" data-infotip="Total number of [i]All[/i] Fuels"></span> Today Prices</div>

            <div class="stat-row">
                <div class="stat stat-price" data-infotip-dock="below" data-infotip="[b]Minimum[/b] Price [u]Today[/u] for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Today_Prices_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="below" data-infotip="[b]Average[/b] Price [u]Today[/u] for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Today_Prices_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="below" data-infotip="[b]Maximum[/b] Price [u]Today[/u] for [b]All[/b] Fuels">
                    <div class="stat-value" data-bind="text: $root.stats_Combined_Today_Prices_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>

            <div class="clearfix"></div>
        </section>

        <div class="clearfix"></div>
    </div>

    <div class="stat-group stat-group-inline stat-group-unleaded">

        <section class="stat-section stat-section-tomorrow">
            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_Unleaded_Tomorrow_Price_Count()" data-infotip="[b]Number[/b] of [q]Unleaded[/q] Prices"></span> Tomorrow Prices</div>

            <div class="stat-row">
                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Minimum[/b] Price of [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Tomorrow_Price_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Average[/b] Price of [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Tomorrow_Price_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Maximum[/b] Price of [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Tomorrow_Price_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>

            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_Unleaded_Tomorrow_PriceChanges_Count()" data-infotip="[b]Number[/b] of [q]Unleaded[/q] Price Changes"></span> Tomorrow <big class="font150pc">+/-</big></div>

            <div class="stat-row">
                <div class="stat" data-infotip-dock="below" data-infotip="[b]Minimum[/b] Price of Change [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Tomorrow_PriceChanges_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat" data-infotip-dock="below" data-infotip="[b]Average[/b] Price Change of [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Tomorrow_PriceChanges_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat" data-infotip-dock="below" data-infotip="[b]Maximum[/b] Price Change of [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Tomorrow_PriceChanges_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>

        <hr class="stat-section-divider" />

        <section class="stat-section stat-section-today">
            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_Unleaded_Today_Price_Count()" data-infotip="[b]Number[/b] of [u]Yesterday[/u] [q]Unleaded[/q] Prices"></span> Today Prices</div>

            <div class="stat-row">
                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Minimum[/b] [u]Yesterday[/u] Price of [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Today_Price_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Average[/b] [u]Yesterday[/u] Price of [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Today_Price_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Maximum[/b] [u]Yesterday[/u] Price of [q]Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Unleaded_Today_Price_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>

            <div class="clearfix"></div>
        </section>

        <div class="clearfix"></div>
    </div>

    <div class="stat-group stat-group-inline stat-group-diesel">

        <section class="stat-section stat-section-tomorrow">

            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_Diesel_Tomorrow_Price_Count()" data-infotip="[b]Number[/b] of [q]Diesel[/q] Prices"></span> Tomorrow Prices</div>

            <div class="stat-row">
                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Minimum[/b] Price of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Tomorrow_Price_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Average[/b] Price of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Tomorrow_Price_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Maximum[/b] Price of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Tomorrow_Price_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>

            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_Diesel_Tomorrow_PriceChanges_Count()" data-infotip="[b]Number[/b] of [q]Diesel[/q] Prices Changes"></span> Tomorrow <big class="font150pc">+/-</big></div>

            <div class="stat-row">
                <div class="stat" data-infotip-dock="below" data-infotip="[b]Minimum[/b] Price Change of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Tomorrow_PriceChanges_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat" data-infotip-dock="below" data-infotip="[b]Average[/b] Price Change of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Tomorrow_PriceChanges_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>
                <div class="stat" data-infotip-dock="below" data-infotip="[b]Maximum[/b] Price Change of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Tomorrow_PriceChanges_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>

        <hr class="stat-section-divider" />

        <section class="stat-section stat-section-today">

            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_Diesel_Today_Price_Count()" data-infotip="[b]Number[/b] of [u]Yesterday[/u] [q]Diesel[/q] Prices"></span> Today Prices</div>

            <div class="stat-row">
                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Minimum[/b] [u]Yesterday[/u] Price of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Today_Price_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Average[/b] [u]Yesterday[/u] Price of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Today_Price_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Maximum[/b] [u]Yesterday[/u] Price of [q]Diesel[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_Diesel_Today_Price_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>

            <div class="clearfix"></div>
        </section>

        <div class="clearfix"></div>
    </div>

    <div class="stat-group stat-group-inline stat-group-super-unleaded">

        <section class="stat-section stat-section-tomorrow">

            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_SuperUnleaded_Tomorrow_Price_Count()" data-infotip="[b]Number[/b] of [q]Super-Unleaded[/q] Prices"></span> Tomorrow Prices</div>

            <div class="stat-row">
                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Minimum[/b] Price of [q]Super Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Tomorrow_Price_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Average[/b] Price of [q]Super Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Tomorrow_Price_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Maximum[/b] Price of [q]Super Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Tomorrow_Price_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>

            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_SuperUnleaded_Tomorrow_PriceChanges_Count()" data-infotip="[b]Number[/b] of [q]Super-Unleaded[/q] Price Changes"></span> Tomorrow <big class="font150pc">+/-</big></div>

            <div class="stat-row">
                <div class="stat" data-infotip-dock="below" data-infotip="[b]Minimum[/b] Price Change of [q]Super-Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Tomorrow_PriceChanges_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat" data-infotip-dock="below" data-infotip="[b]Average[/b] Price Change of [q]Super-Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Tomorrow_PriceChanges_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat" data-infotip-dock="below" data-infotip="[b]Maximum[/b] Price Change of [q]Super-Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Tomorrow_PriceChanges_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>

        <hr class="stat-section-divider" />

        <section class="stat-section stat-section-today">
            <div class="stat-group-title"><span class="badge badge-lg" data-bind="text: $root.stats_SuperUnleaded_Today_Price_Count()" data-infotip="[b]Number[/b] of [u]Yesterday[/u] [q]Super-Unleaded[/q] Prices"></span> Today Prices</div>

            <div class="stat-row">
                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Minimum[/b] [u]Yesterday[/u] Price of [q]Super Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Today_Price_Min()">-</div>
                    <div class="stat-label">Min</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Average[/b] [u]Yesterday[/u] Price of [q]Super Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Today_Price_Average()">-</div>
                    <div class="stat-label">Avg</div>
                </div>

                <div class="stat stat-price" data-infotip-dock="above" data-infotip="[b]Maximum[/b] [u]Yesterday[/u] Price of [q]Super Unleaded[/q]">
                    <div class="stat-value" data-bind="text: $root.stats_SuperUnleaded_Today_Price_Max()">-</div>
                    <div class="stat-label">Max</div>
                </div>
            </div>

            <div class="clearfix"></div>
        </section>

        <div class="clearfix"></div>
    </div>
</div>