@if (Request.IsAuthenticated)
{
    <li data-menu-item="nav-upload">@Html.ActionLink("Upload", "Index", "File")</li>
    <li data-menu-item="nav-site-pricing">@Html.ActionLink("Site Pricing", "Prices", "Sites")</li>
    <li data-menu-item="nav-site-maintenance">@Html.ActionLink("Site Maintenance", "Index", "Sites")</li>
    <li data-menu-item="nav-reports">@Html.ActionLink("Reports", "Index", "PriceReports")</li>
}
