@{
    Layout = null;
}
@* ---- HTML templates used by Notify.js to present alert messages ---- *@
<div style="display: none" class="notification alert alert-success" id="notification-generic-success" title="Close" onclick="$(this).hide()">
    <strong class="alert-type"><span class="glyphicon glyphicon-ok-sign"></span> Success:</strong> <span class="message">placeholder</span>
</div>

<div style="display: none" class="notification alert alert-danger" id="notification-generic-error" title="Close" onclick="$(this).hide()">
    <strong class="alert-type"><span class="glyphicon glyphicon-remove-sign"></span> Error:</strong> <span class="message">placeholder</span>
</div>

<div style="display: none" class="notification alert alert-warning" id="notification-generic-warning" title="Close" onclick="$(this).hide()">
    <strong class="alert-type"><span class="glyphicon glyphicon-exclamation-sign"></span> Warning:</strong> <span class="message">placeholder</span>
</div>

<div style="display: none" class="notification alert alert-info" id="notification-generic-info" title="Close" onclick="$(this).hide()">
    <strong class="alert-type"><span class="glyphicon glyphicon-info-sign"></span> Information:</strong> <span class="message">placeholder</span>
</div>