@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.AccessDeniedViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h2><i class="fa fa-lock"></i> Access Denied</h2>
                    </div>
                    <div class="panel-body">
                        <p>@Model.Message</p>
                        <p>Sorry, you do not currently have permission to access this section.</p>
                        <p>Please contact the <a href="@Url.Action("Contact", "Home")"> System Administator</a></p>
                    </div>
                    <div class="panel-footer text-center">
                        <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
