<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="smtpServer" value="email-smtp.eu-west-1.amazonaws.com"/>
    <add key="smtpUserName" value="AKIAIP5MYCP3ETOHJ73A"/>
    <add key="smtpPassword" value="AmDoy02X/bZc5EBMh8AJiOsc6iyodxnN2K7F4epLl3Vt" />
    <add key="smtpPort" value="587" />
    <add key="emailFrom" value="testdailyPrice@sainsburys.co.uk"/>
    <add key="emailSubject" value="test email - new Daily Price"/>
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>