@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.SystemSettings.DriveTimeMarkupFuelViewModel
@using JsPlc.Ssc.PetrolPricing.Models.Enums;

@{ 
    var fuelTypeId = Model.FuelTypeId;
    var fuelName = ((FuelTypeItem)fuelTypeId).ToString();
    var friendlyFuelName = fuelName.Replace("_", " ");
    var fuelSignCss = "fuel-sign-" + fuelName.ToLower().Replace("super_unleaded", "super-unleaded");
}

<div id="@(Model.PanelId)" class="panel panel-default panel-collapse">
    <div class="panel-header">
        <div class="col-md-12 text-center newline">
            <span class="fuel-sign @(fuelSignCss)"></span>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-center">Drive Time</th>
                    <th class="text-center">Markup</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-id="row-template" class="hide hoverable {rowCss}">
                    <td class="text-center clickable" data-infotip="Click to [u]edit[/u] Drive Time">{driveTime}</td>
                    <td class="text-center clickable" data-infotip="Click to [u]edit[/u] Drive Time">{markup} {warning}</td>
                    <td><button type="button" class="btn btn-danger btn-xs pull-right" data-action="delete" data-id="{index}" data-infotip="Delete this [b]@(friendlyFuelName)[/b] item"><i class="fa fa-times"></i></button></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center"><p><strong>Loading...</strong></p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row row-compact">
            <div class="col-md-5">
                <label class="control-label">Drive Time</label>
                <div class="input-group">
                    <input type="text" class="form-control mono-font" value="" maxlength="2" data-action="enter-add" data-input="drivetime" data-infotip-dock="below" data-infotip="Enter the [b]Drive Time[/b] in minutes (e.g. 15)" />
                    <div class="input-group-addon">
                        <strong>Mins</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <label class="control-label">Markup</label>
                <div class="input-group">
                    <input type="text" class="form-control mono-font" value="" maxlength="2" data-action="enter-add" data-input="markup" data-infotip-dock="below" data-infotip="Enter the [b]Markup[/b] in PPL (e.g. 3.0)" />
                    <div class="input-group-addon">
                        <strong>P</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-2 newline">
                <button type="button" class="btn btn-success btn-sm" data-action="add" data-infotip-dock="below" data-infotip="Add or Update a [b]Drive Time[/b] item [br /] for [b]@(friendlyFuelName)[/b]"><i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>

</div>

<div id="Warning_@(Model.PanelId)" class="alert alert-warning" style="display: none;"></div>

